{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}

{% block content %} 
    
<ul class="nav nav-tabs">
  <li role="navigation"><a href="{{ path('gestion_traspasos')}}"><i class="fa fa-area-chart fa-2x"></i> DASHBOARD</a></li>
  <li role="navigation"><a href="{{ path('gestion_traspasos_tours')}}"><i class="fa fa-bus fa-2x"></i> TOURS</a></li>
  <li role="navigation" class="active"><a href="{{ path('gestion_traspasos_transfers')}}"><i class="fa fa-plane fa-2x"></i> TRANSFERS</a></li>
  {% if is_granted("ROLE_ADMIN") %}
        <li role="navigation"><a href="{{ path('gestion_traspasos_gestion')}}"><i class="fa fa-area-chart fa-2x"></i> GESTION</a></li>
    {% endif %}
</ul>
<p></p> 
<div class="row">
    <div class="col-md-8 ">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">ULTIMOS TRANSFERS INGRESADOS</div>   
            
            <table class="table table-bordered table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th  class="text-center">#Id</th>
                        <th  class="text-center">Fecha</th>
                        <th  class="text-center">N° Vuelo</th>
                        <th  class="text-center">Hora Vuelo</th>
                        <th  class="text-center">Pickup</th>
                        <th  class="text-center">Pax</th>
                        <th  class="text-center">Servicio </th>
                        <th  class="text-center">Operador</th>
                        <th  class="text-center">Hab</th>
                        <th  class="text-center">Obs</th>
                        <th  class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% if movs  is defined %}
                       {% for mov in movs %}
                            {% if mov.nula == '0' %}
                                <tr>
                            {% else %}
                                <tr class="danger">
                            {% endif %}  

                                <td class="text-right">
                                    {{mov.id}}
                                </td>
                                <td class="text-center">                    
                                    {{mov.fecha_transfer|date("d/m/Y")}}
                                </td>
                                <td>
                                    {{mov.vuelo}}
                                </td>
                                <td class="text-center">                    
                                    {{ mov.hora_vuelo|date('H:i') }}
                                </td>                                
                                <td class="text-center">                    
                                    {{ mov.hora_transfer|date('H:i') }}
                                </td>
                                <td>
                                    {{mov.pax}} x{{mov.n}}
                                </td>
                                 <td class="text-center">
                                    {% if mov.servicio=="Trf-OUT" %}
                                        <i class="fa fa-sign-out fa-2x" style="color:red" title="Trf-OUT"></i>
                                    {% else %}
                                        <i class="fa fa-sign-in fa-2x" style="color:green" title="Trf-IN"></i>
                                    {% endif %}
                                </td>                              
                                <td>
                                    {{mov.operador}}
                                </td>
                              
                                <td class="text-center">
                                    {{mov.hab}}
                                </td>
                                <td class="text-center">
                                    {{mov.obs}}
                                </td>
                                <td class="text-center">
                                    <!--
                                    <a href="{{ path('gestion_traspasos_ver', { 'id' : mov.id }) }}"  class="btn btn-info " role="button">Ver</a>
                                    -->
                                    
                                    {% if (mov.nula == '0') %}
                                        <a href="{{ path('gestion_traspasos_transfer_editar', { 'id' : mov.id }) }}"  class="btn btn-warning btn " role="button" title="Modificar..."><span class="glyphicon glyphicon-edit"></span></a>
                                    {% endif %}
                                    
                                    {% if mov.nula == '0' %}
                                        <a href="{{ path('gestion_traspasos_transfer_anular', { 'id' : mov.id }) }}"  class="btn btn-danger btn " role="button" title="Anular..."><span class="glyphicon glyphicon-remove"></span></a>
                                    {% else %}
                                        <a href="{{ path('gestion_traspasos_transfer_habilitar', { 'id' : mov.id }) }}"  class="btn btn-success btn " role="button" title="Habilitar..."><span class="glyphicon glyphicon-ok"></span></a>
                                    {% endif %}                                     
                                </td>
                            </tr>
                        {% endfor%}
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">TRANSFER HOY {{hoy|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Servicio</th>
                            <th>Vuelo</th>
                            <th>Pickup</th>
                            <th>Pax</th>
                            <th>Hab</th>
                        </tr>
                        {% if movs_hoy  is defined %}
                            {% for mov_hoy in movs_hoy %}
                            <tr>
                            <tr>
                                <td class="text-center">
                                    {% if mov_hoy.servicio=="Trf-OUT" %}
                                        <i class="fa fa-sign-out" style="color:red" title="Trf-OUT"></i>
                                    {% else %}
                                        <i class="fa fa-sign-in" style="color:green" title="Trf-IN"></i>
                                    {% endif %}
                                </td>                                
                                <td>
                                    {{mov_hoy.vuelo}}
                                </td>
                                <td>
                                    {{mov_hoy.hora_transfer|date("H:i")}}
                                </td>
                                <td>
                                    {{mov_hoy.pax}} x{{mov_hoy.n}}
                                </td>
                                <td class="text-center">
                                    {{mov_hoy.hab}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-info">
            <div class="panel-heading">TRANSFERS MAÑANA {{manana|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Servicio</th>
                            <th>Vuelo</th>
                            <th>Pickup</th>
                            <th>Pax</th>
                            <th>Hab</th>
                        </tr>
                        {% if movs_manana  is defined %}
                            {% for mov_manana in movs_manana %}
                            <tr>
                                <td class="text-center">
                                    {% if mov_manana.servicio=="Trf-OUT" %}
                                        <i class="fa fa-sign-out" style="color:red" title="Trf-OUT"></i>
                                    {% else %}
                                        <i class="fa fa-sign-in" style="color:green" title="Trf-IN"></i>
                                    {% endif %}
                                </td>                                   
                                <td>
                                    {{mov_manana.vuelo}}
                                </td>
                                <td>
                                    {{mov_manana.hora_transfer|date("H:i")}}
                                </td>
                                <td>
                                    {{mov_manana.pax}} x{{mov_manana.n}}
                                </td>                            
                                <td class="text-center">
                                    {{mov_manana.hab}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        <div class="panel panel-default panel-info">
                <div class="panel-heading">RESUMEN MES {{ "now"|date("M")|upper }}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="text-center">Operador</th>
                            <th class="text-center">Servicio</th>
                            <th class="text-center">N</th>
                        </tr>
                        {% set total_n = 0 %}
                        {% set total_valor = 0 %}
                        
                        {% if trnf_resumen_mes  is defined %}
                            {% for mes in trnf_resumen_mes %}
                            <tr>
                                <td>
                                    {{mes.operador}}
                                </td>
                                <td>
                                    {{mes.servicio}}
                                </td>
                                <td class="text-right">
                                    {{mes.N|number_format(0, '.', ',')}}
                                    {% set total_n = total_n + mes.N %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    TOTAL
                                </td>                            
                                <td class="text-right">

                                </td>
                                <td class="text-right">
                                    {{total_n|number_format(0, '.', ',')}}
                                </td>
                            </tr>    
                        {% endif %}
                    </table>
                </div>
            </div>
                    
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
               <!--<span class="glyphicon glyphicon-bookmark"></span>-->
                    HISTORICO VENTA TRANSFERS</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>MES</th>
                            <th class="text-center">Trnf-IN</th>
                            <th class="text-center">Trnf-OUT</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">%VAR</th>
                        </tr>
                        {% if trnf_historico_vtas is defined %}
                            {% for mov in trnf_historico_vtas %}
                            <tr>
                                <td class="text-left">
                                    {{ mov.mes|upper }}
                                </td>
                                <td class="text-right">
                                    {{mov.trnfin|number_format(0, '.', ',')}}
                                </td class="text-right">
                                <td class="text-right">
                                    {{mov.trnfout|number_format(0, '.', ',')}}
                                </td>
                                <td  class="text-right">
                                    {{mov.total|number_format(0, '.', ',')}}
                                </td>
                                 <td class="text-center">
                                    {% if mov.variacion > 0 %}
                                        <p class="text-info">
                                            {{mov.variacion|number_format(1 , '.', ',')}}
                                            <i class="fa fa-thumbs-up" style="color:green"></i> 
                                        </p>
                                    {% else %}
                                        <p class="text-danger">
                                            {{mov.variacion|number_format(1 , '.', ',')}}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        </p>
                                        
                                    {% endif %}      
                                </td> 
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>     
           
                    
                    
    </div>
    </div>
</div>

{% endblock%}