{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gestiontraspasos/js/themes/grid-light.js') }}"></script>
    <script src="{{ asset('bundles/gestiontraspasos/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/gestiontraspasos/js/modules/exporting.js') }}"></script> 
    <script src="{{ asset('bundles/gestiontraspasos/js/themes/grid-light.js') }}"></script>
    <!--<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    -->
    
{% endblock %}

{% block content %} 
    
<ul class="nav nav-tabs">
  <li role="navigation" class="active"><a href="{{ path('gestion_traspasos')}}"><i class="fa fa-calendar fa-2x"></i> DASHBOARD</a></li>
  <li role="navigation"><a href="{{ path('gestion_traspasos_tours')}}"><i class="fa fa-bus fa-2x"></i> TOURS</a></li>
  <li role="navigation"><a href="{{ path('gestion_traspasos_transfers')}}"><i class="fa fa-plane fa-2x"></i> TRANSFERS</a></li>
  {% if is_granted("ROLE_ADMIN") %}
  <li role="navigation"><a href="{{ path('gestion_traspasos_gestion')}}"><i class="fa fa-area-chart fa-2x"></i> GESTION</a></li>
  {% endif %}
</ul>
<p></p>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">TOURS HOY {{hoy|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Pax</th>
                            <th class="text-center">Hab</th>
                            <th>Tour</th>
                            <th>T.O.</th>
                            <th class="text-center">Pagado</th>
                        </tr>
                        {% if tour_movs_hoy  is defined %}
                            {% for mov_hoy in tour_movs_hoy %}
                            <tr>
                                <td>
                                    {{mov_hoy.pax}} x{{mov_hoy.n}}
                                </td>
                                <td class="text-center">
                                    {{mov_hoy.hab}}
                                </td>
                                <td>
                                    {{mov_hoy.tour}}
                                </td>
                                <td>
                                    {{mov_hoy.operador}}
                                </td>
                                <td class="text-center">    
                                    {% if mov_hoy.pagado == '0' %}
                                        {% if mov_hoy.nula == '0' %}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        {% endif %}    
                                    {% else %}
                                        <i class="fa fa-thumbs-up" style="color:green"></i>
                                    {% endif %}                                      
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-success">
            <div class="panel-heading">TOURS MAÑANA {{manana|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Pax</th>
                            <th class="text-center">Hab</th>
                            <th>Tour</th>
                            <th>T.O.</th>
                            <th class="text-center">Pagado</th>
                        </tr>
                        {% if tour_movs_manana  is defined %}
                            {% for mov_manana in tour_movs_manana %}
                            <tr>
                                <td>
                                    {{mov_manana.pax}} x{{mov_manana.n}}
                                </td>                             
                                <td class="text-center">
                                    {{mov_manana.hab}}
                                </td>
                                <td>
                                    {{mov_manana.tour}}
                                </td>
                                <td>
                                    {{mov_manana.operador}}
                                </td>
                                <td class="text-center">    
                                    {% if mov_manana.pagado == '0' %}
                                        {% if mov_manana.nula == '0' %}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        {% endif %}    
                                    {% else %}
                                        <i class="fa fa-thumbs-up" style="color:green"></i>
                                    {% endif %}                                      
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-success">
            <div class="panel-heading">TOURS PASADO {{pasado|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Pax</th>
                            <th class="text-center">Hab</th>
                            <th>Tour</th>
                            <th>T.O.</th>
                            <th class="text-center">Pagado</th>
                        </tr>
                        {% if tour_movs_pasado  is defined %}
                            {% for mov_pasado in tour_movs_pasado %}
                            <tr>
                                <td>
                                    {{mov_pasado.pax}} x{{mov_pasado.n}}
                                </td>                             
                                <td class="text-center">
                                    {{mov_pasado.hab}}
                                </td>
                                <td>
                                    {{mov_pasado.tour}}
                                </td>
                                <td>
                                    {{mov_pasado.operador}}
                                </td>
                                <td class="text-center">    
                                    {% if mov_pasado.pagado == '0' %}
                                        {% if mov_pasado.nula == '0' %}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        {% endif %}    
                                    {% else %}
                                        <i class="fa fa-thumbs-up" style="color:green"></i>
                                    {% endif %}                                      
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
  
    </div>
    <!-- COLUMNA HISTORICO TOURS -->
    <div class="col-md-4">
        
        <div class="panel panel-default panel-success">
                <div class="panel-body text-danger">
                    <h5>TOURS IMPAGOS: $ {{tour_total_impagos|number_format(0, '.', ',')}}</h5>
                </div>
            </div> 
        
        <div class="panel panel-default panel-success">
                <div class="panel-heading">ULTIMOS PAGOS</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Pax</th>
                            <th class="text-center">Forma</th>
                            <th class="text-center">Pagado</th>
                        </tr>
                        
                        {% if ultimos_pagos  is defined %}
                            {% for pago in ultimos_pagos %}
                            <tr>
                                <td>
                                    <a href="{{ path('gestion_traspasos_ver', { 'id' : pago.id }) }}">{{pago.id}}</a>    
                                </td>
                                <td>
                                    {{pago.fecha|date("d/M")}}
                                </td>
                                <td class="text-left">
                                    {{pago.pax}} x{{pago.n}}
                                </td>
                                <td class="text-center">
                                    {% if pago.formapago == 'EFECTIVO' %}
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {{pago.cobrado|number_format(0, '.', ',')}}
                                </td>
                            </tr>
                            {% endfor %}  
                        {% endif %}
                    </table>
                </div>
            </div>   
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                    HISTORICO VENTA TOURS</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>MES</th>
                            <th class="text-center">Q1</th>
                            <th class="text-center">Q2</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">%VAR</th>
                        </tr>
                        {% if tour_historico_vtas is defined %}
                            {% for mov in tour_historico_vtas %}
                            <tr>
                                <td class="text-left">
                                    {{ mov.mes|upper }}
                                    
                                </td>
                                <td class="text-right">
                                    {{mov.q1|number_format(0, '.', ',')}}
                                </td class="text-right">
                                <td class="text-right">
                                    {{mov.q2|number_format(0, '.', ',')}}
                                </td>
                                <td  class="text-right">
                                    {{mov.total|number_format(0, '.', ',')}}
                                </td>
                                <td class="text-center">
                                    {% if mov.variacion > 0 %}
                                        <p class="text-info text-right">
                                            {{mov.variacion|number_format(1 , '.', ',')}}
                                            <i class="fa fa-thumbs-up" style="color:green"></i>
                                        </p>
                                          
                                    {% else %}
                                        <p class="text-danger text-right">
                                            {{mov.variacion|number_format(1 , '.', ',')}}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        </p>
                                        
                                    {% endif %}    
                                </td>    
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
    </div>
    <!-- COLUMNA TRANSFERS -->
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                    TRANSFERS HOY {{hoy|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Servicio</th>
                            <th>Vuelo</th>
                            <th>Pickup</th>
                            <th>Pax</th>
                            <th>Hab</th>

                        </tr>
                        {% if trnf_movs_hoy  is defined %}
                            {% for mov_hoy in trnf_movs_hoy %}
                            <tr>
                                 <td class="text-center">
                                    {% if mov_hoy.servicio=="Trf-OUT" %}
                                        <i class="fa fa-sign-out" style="color:red" title="Trf-OUT"></i>
                                    {% else %}
                                        <i class="fa fa-sign-in" style="color:green" title="Trf-IN"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {{mov_hoy.vuelo}}
                                </td>
                                <td>
                                    {{ mov_hoy.hora_transfer|date('H:i') }}
                                </td>
                                <td>
                                    {{mov_hoy.pax}} x{{mov_hoy.n}}
                                </td>
                                <td class="text-center">
                                    {{mov_hoy.hab}}
                                </td>

                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    TRANSFER MAÑANA {{manana|date("d/m/Y")}}
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                             <th>Servicio</th>
                            <th>Vuelo</th>
                            <th>Pickup</th>
                            <th>Pax</th>
                            <th>Hab</th>
                        </tr>
                        {% if trnf_movs_manana  is defined %}
                            {% for mov_manana in trnf_movs_manana %}
                            <tr>
                             <tr>
                                 <td class="text-center">
                                    {% if mov_manana.servicio=="Trf-OUT" %}
                                        <i class="fa fa-sign-out" style="color:red" title="Trf-OUT"></i>
                                    {% else %}
                                        <i class="fa fa-sign-in" style="color:green" title="Trf-IN"></i>
                                    {% endif %}
                                </td>                               
                                <td>
                                    {{mov_manana.vuelo}}
                                </td>
                                <td>
                                    {{mov_manana.hora_transfer|date('H:i')}}
                                </td>
                                <td>
                                    {{mov_manana.pax}} x{{mov_manana.n}}
                                </td>
                                <td class="text-center">
                                    {{mov_manana.hab}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-info">
                <div class="panel-heading">
                    TRANSFER PASADO {{pasado|date("d/m/Y")}}
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                             <th>Servicio</th>
                            <th>Vuelo</th>
                            <th>Pickup</th>
                            <th>Pax</th>
                            <th>Hab</th>
                        </tr>
                        {% if trnf_movs_pasado  is defined %}
                            {% for mov_pasado in trnf_movs_pasado %}
                            <tr>
                             <tr>
                                 <td class="text-center">
                                    {% if mov_pasado.servicio=="Trf-OUT" %}
                                        <i class="fa fa-sign-out" style="color:red" title="Trf-OUT"></i>
                                    {% else %}
                                        <i class="fa fa-sign-in" style="color:green" title="Trf-IN"></i>
                                    {% endif %}
                                </td>                               
                                <td>
                                    {{mov_pasado.vuelo}}
                                </td>
                                <td>
                                    {{mov_pasado.hora_transfer|date('H:i')}}
                                </td>
                                <td>
                                    {{mov_pasado.pax}} x{{mov_pasado.n}}
                                </td>
                                <td class="text-center">
                                    {{mov_pasado.hab}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>    
         
    </div>
    <!-- COLUMNA HISTORICO TRANSFERS 
    <div class="col-md-3">

    </div>
-->
    </div>
</div>

{% endblock%}