{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}

{% block content %} 
    
<ul class="nav nav-tabs">
  <li role="navigation"><a href="{{ path('gestion_traspasos')}}"><i class="fa fa-area-chart fa-2x"></i> DASHBOARD</a></li>
  <li role="navigation" class="active"><a href="{{ path('gestion_traspasos_tours')}}"><i class="fa fa-bus fa-2x"></i> TOURS</a></li>
  <li role="navigation"><a href="{{ path('gestion_traspasos_transfers')}}"><i class="fa fa-plane fa-2x"></i> TRANSFERS</a></li>
  {% if is_granted("ROLE_ADMIN") %}
  <li role="navigation"><a href="{{ path('gestion_traspasos_gestion')}}"><i class="fa fa-area-chart fa-2x"></i> GESTION</a></li>
    {% endif %}
</ul>
<p></p>  
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">ULTIMOS TRASPASOS INGRESADOS</div>   
            
            <table class="table table-bordered table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th  class="text-center">#Id</th>
                        <th  class="text-center">Fecha</th>
                        <th  class="text-center">Pax</th>
                        <th  class="text-center">Tour</th>
                        <th  class="text-center">Operador</th>
                        <th  class="text-center">Cobrado</th>
                        <th  class="text-center">Costo</th>
                        <th  class="text-center">Hab</th>
                        <th  class="text-center">Obs</th>
                        <th  class="text-center">Accion</th>
                        <th  class="text-center">Pagado</th>
                    </tr>
                </thead>
                <tbody>
                    {% if movs  is defined %}
                       {% for mov in movs %}
                            {% if mov.nula == '0' %}
                                <tr>
                            {% else %}
                                <tr class="danger">
                            {% endif %}  

                                <td class="text-right">
                                    {{mov.id}}
                                </td>
                                <td class="text-center">                    
                                    {{mov.fecha_traspaso|date("d/m/Y")}}</td>
                                <td>
                                    {{mov.pax}} x{{mov.n}}
                                </td>
                                <td>
                                    {{mov.tour}}
                                </td>                                
                                <td>
                                    {{mov.operador}}
                                </td>
                                <td class="text-right">
                                    {{mov.cobrado|number_format(0, '.', ',')}}
                                </td>
                                <td class="text-right">
                                    {{mov.costo|number_format(0, '.', ',')}}
                                </td>                              
                                <td class="text-center">
                                    {{mov.hab}}
                                </td>
                                <td class="text-center">
                                    {{mov.obs}}
                                </td>
                                <td class="text-center"> 
                                    
                                    <a href="{{ path('gestion_traspasos_ver', { 'id' : mov.id }) }}"  class="btn btn-info btn" role="button" title="Ver..."><span class="glyphicon glyphicon-zoom-in"></span></a>
                                    
                                    {% if (mov.nula == '0') and (mov.pagado == '0') %}
                                        <a href="{{ path('gestion_traspasos_editar', { 'id' : mov.id }) }}"  class="btn btn-warning btn" role="button" title="Modificar..."><span class="glyphicon glyphicon-edit"></span></a>
                                    {% else %}
                                        <a href="#"  class="btn btn-default btn " role="button" title="..." disabled="disabled"><span class="glyphicon glyphicon-edit"></span></a>
                                    {% endif %}

                                    {% if mov.nula == '0' %}
                                        {% if mov.pagado == '0' %}
                                            <a href="{{ path('gestion_traspasos_anular', { 'id' : mov.id }) }}"  class="btn btn-danger btn" role="button" title="Anular..."><span class="glyphicon glyphicon-remove"></span></a>
                                        {% else %}
                                            <a href="#"  class="btn btn-default btn" role="button" title="..." disabled="disabled"><span class="glyphicon glyphicon-remove"></span></a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('gestion_traspasos_habilitar', { 'id' : mov.id }) }}"  class="btn btn-success btn" role="button" title="Habilitar.."><span class="glyphicon glyphicon-ok"></span></a>
                                    {% endif %} 
                                </td>
                                <td class="text-center">    
                                    {% if mov.pagado == '0' %}
                                        {% if mov.nula == '0' %}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        {% endif %}    
                                    {% else %}
                                        <i class="fa fa-thumbs-up" style="color:green"></i>
                                    {% endif %}                                      
                                </td>
                            </tr>
                        {% endfor%}
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">TOURS HOY {{hoy|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Pax</th>
                            <th>Hab</th>
                            <th>Tour</th>
                            <th>T.O.</th>
                        </tr>
                        {% if movs_hoy  is defined %}
                            {% for mov_hoy in movs_hoy %}
                            <tr>
                                <td>
                                    {{mov_hoy.pax}} x{{mov_hoy.n}}
                                </td>
                                <td class="text-center">
                                    {{mov_hoy.hab}}
                                </td>
                                <td>
                                    {{mov_hoy.tour}}
                                </td>
                                <td>
                                    {{mov_hoy.operador}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-success">
            <div class="panel-heading">TOURS MAÑANA {{manana|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Pax</th>
                            <th>Hab</th>
                            <th>Tour</th>
                            <th>T.O.</th>
                        </tr>
                        {% if movs_manana  is defined %}
                            {% for mov_manana in movs_manana %}
                            <tr>
                                <td>
                                    {{mov_manana.pax}} x{{mov_manana.n}}
                                </td>                             
                                <td class="text-center">
                                    {{mov_manana.hab}}
                                </td>
                                <td>
                                    {{mov_manana.tour}}
                                </td>
                                <td>
                                    {{mov_manana.operador}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-success">
            <div class="panel-heading">TOURS PASADO {{pasado|date("d/m/Y")}}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Pax</th>
                            <th>Hab</th>
                            <th>Tour</th>
                            <th>T.O.</th>
                        </tr>
                        {% if movs_pasado  is defined %}
                            {% for mov_pasado in movs_pasado %}
                            <tr>
                                <td>
                                    {{mov_pasado.pax}} x{{mov_pasado.n}}
                                </td>                            
                                <td class="text-center">
                                    {{mov_pasado.hab}}
                                </td>
                                <td>
                                    {{mov_pasado.tour}}
                                </td>
                                <td>
                                    {{mov_pasado.operador}}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default panel-success">
                <div class="panel-heading">ULTIMOS PAGOS</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Pax</th>
                            <th class="text-center">Forma</th>
                            <th class="text-center">Pagado</th>
                        </tr>
                        
                        {% if ultimos_pagos  is defined %}
                            {% for pago in ultimos_pagos %}
                            <tr>
                                <td>
                                    <a href="{{ path('gestion_traspasos_ver', { 'id' : pago.id }) }}">{{pago.id}}</a>    
                                </td>
                                <td>
                                    {{pago.fecha|date("d/M")}}
                                </td>
                                <td class="text-left">
                                    {{pago.pax}} x{{pago.n}}
                                </td>
                                <td class="text-center">
                                    {% if pago.formapago == 'EFECTIVO' %}
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {{pago.cobrado|number_format(0, '.', ',')}}
                                </td>
                            </tr>
                            {% endfor %}  
                        {% endif %}
                    </table>
                </div>
            </div>   
    </div>
    </div>
</div>

{% endblock%}