{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gestiontraspasos/js/themes/grid-light.js') }}"></script>
    <script src="{{ asset('bundles/gestiontraspasos/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/gestiontraspasos/js/modules/exporting.js') }}"></script> 
    <script src="{{ asset('bundles/gestiontraspasos/js/themes/grid-light.js') }}"></script>
    <!--<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    -->
    <script type="text/javascript">{{ chart(chart_1) }}</script>
    <script type="text/javascript">{{ chart(chart_2) }}</script>
    
{% endblock %}

{% block content %} 
    
<ul class="nav nav-tabs">
    <li role="navigation"><a href="{{ path('gestion_traspasos')}}"><i class="fa fa-calendar fa-2x"></i> DASHBOARD</a></li>
    <li role="navigation"><a href="{{ path('gestion_traspasos_tours')}}"><i class="fa fa-bus fa-2x"></i> TOURS</a></li>
    <li role="navigation"><a href="{{ path('gestion_traspasos_transfers')}}"><i class="fa fa-plane fa-2x"></i> TRANSFERS</a></li>
    {% if is_granted("ROLE_ADMIN") %}
        <li role="navigation" class="active"><a href="{{ path('gestion_traspasos_gestion')}}"><i class="fa fa-area-chart fa-2x"></i> GESTION</a></li>
    {% endif %}
  </ul>
<p></p>
<div class="row">
    <div class="col-md-3">

                <div class="panel panel-default panel-success">
                <div class="panel-heading">RESUMEN MES {{ "now"|date("M")|upper }}</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="text-center">T.O.</th>
                            <th class="text-center">Costo</th>
                            <th class="text-center">Cobrado</th>
                        </tr>
                        {% set total_costo = 0 %}
                        {% set total_cobrado = 0 %}
                        
                        {% if tour_resumen_mes  is defined %}
                            {% for mes in tour_resumen_mes %}
                            <tr>
                                <td>
                                    {{mes.operador}}
                                </td>
                                <td class="text-right">
                                    {{mes.costo|number_format(0, '.', ',')}}
                                    {% set total_costo = total_costo + mes.costo %}
                                </td>
                                <td class="text-right">
                                    {{mes.cobrado|number_format(0, '.', ',')}}
                                    {% set total_cobrado = total_cobrado + mes.cobrado %}
                                </td>                                
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    TOTAL
                                </td>                            
                                <td class="text-right">
                                    {{total_costo|number_format(0, '.', ',')}}
                                </td>
                                <td class="text-right">
                                    {{total_cobrado|number_format(0, '.', ',')}}
                                </td>
                            </tr>    
                        {% endif %}
                    </table>
                </div>
            </div>  
                    <div class="panel panel-default panel-success">
                <div class="panel-heading">ULTIMOS PAGOS</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Pax</th>
                            <th class="text-center">Forma</th>
                            <th class="text-center">Pagado</th>
                        </tr>
                        
                        {% if ultimos_pagos  is defined %}
                            {% for pago in ultimos_pagos %}
                            <tr>
                                <td>
                                    <a href="{{ path('gestion_traspasos_ver', { 'id' : pago.id }) }}">{{pago.id}}</a>    
                                </td>
                                <td>
                                    {{pago.fecha|date("d/M")}}
                                </td>
                                <td class="text-left">
                                    {{pago.pax}} x{{pago.n}}
                                </td>
                                <td class="text-center">
                                    {% if pago.formapago == 'EFECTIVO' %}
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {{pago.cobrado|number_format(0, '.', ',')}}
                                </td>
                            </tr>
                            {% endfor %}  
                        {% endif %}
                    </table>
                </div>
            </div>  
    </div>
    <!-- COLUMNA HISTORICO TOURS -->
    <div class="col-md-6">
        <div class="panel panel-default panel-success">
            <div class="panel-body">
                <div id="chart_1" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
            </div>       
        </div>
        
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                    HISTORICO VENTA TOURS</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>MES</th>
                            <th class="text-center">Q1</th>
                            <th class="text-center">Q2</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">%VAR</th>
                        </tr>
                        {% if tour_historico_vtas is defined %}
                            {% for mov in tour_historico_vtas %}
                            <tr>
                                <td class="text-left">
                                    {{ mov.mes|upper }}
                                    
                                </td>
                                <td class="text-right">
                                    {{mov.q1|number_format(0, '.', ',')}}
                                </td class="text-right">
                                <td class="text-right">
                                    {{mov.q2|number_format(0, '.', ',')}}
                                </td>
                                <td  class="text-right">
                                    {{mov.total|number_format(0, '.', ',')}}
                                </td>
                                <td class="text-center">
                                    {% if mov.variacion > 0 %}
                                        <p class="text-info text-right">
                                            {{mov.variacion|number_format(1 , '.', ',')}}
                                            <i class="fa fa-thumbs-up" style="color:green"></i>
                                        </p>
                                          
                                    {% else %}
                                        <p class="text-danger text-right">
                                            {{mov.variacion|number_format(1 , '.', ',')}}
                                            <i class="fa fa-thumbs-down" style="color:red"></i>  
                                        </p>
                                        
                                    {% endif %}    
                                </td>    
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
                
    </div>
    <!-- COLUMNA TRANSFERS -->
    <div class="col-md-3">
    
            <div class="panel panel-default panel-info">
            <div class="panel-body">
                <div id="chart_2" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
            </div>       
        </div>          
    </div>
    <!-- COLUMNA HISTORICO TRANSFERS 
    <div class="col-md-3">

    </div>
-->
    </div>
</div>

{% endblock%}