{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}
{% block content %}

<!--  FORM BUSCAR -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-plane fa-2x" ></i> INFORME DE TRANFERS POR FECHA Y OPERADOR</div>
        <div class="panel-body">
            <form  class="form-inline" name="form" method="get" action="">
                {{ form_errors(form) }}
                <div class="form-group">
                    <label>Desde:</label> 
                    {{ form_errors(form.fecha_transfer.left_date) }}
                    {{ form_widget(form.fecha_transfer.left_date) }}
                </div>
                <div class="form-group">
                    <label>Hasta:</label> 
                    {{ form_errors(form.fecha_transfer.right_date) }}
                    {{ form_widget(form.fecha_transfer.right_date) }}
                </div> 
                <div class="form-group">
                    <label>T.O:</label> 
                    {{ form_errors(form.op_id) }}
                    {{ form_widget(form.op_id) }}
                </div>                 
                <div class="form-group">
                    {{ form_rest(form) }}
                    <input class="btn btn-default"  type="submit" name="submit-filter" value="Buscar..." />
                </div>
        </div>
        </div>
    </div>

    <!-- CALCULO TABLA RESUMEN -->
    {% set res_movs = 0 %}
    {% set res_nulos = 0 %}

    {% if movs  is defined %}
        {% for mov in movs %}
            {% if mov.nula == '1' %}
                {% set res_nulos=res_nulos + 1 %}
            {% else %}
                 {% set res_movs = res_movs + mov.n %}
            {% endif %}
        {% endfor%}
    {% endif %}
     {% set res_comision = (res_movs *1000) %}
    <!-- FIN CALCULO-->


<div class="row">
    <div class="col-md-1"></div>
<!-- TABLA RESUMEN -->   
    <div class="col-md-2">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">RESUMEN INFORME</div>
                <div class="panel-body">
                    {% if res_operador  is defined %}
                        <table class="table  table-hover table-condensed table-responsive">
                            <tr>
                                <th class="text-left">Operador</th>
                                <td>{{res_operador}}</td>
                            </tr>
                            <tr> 
                                <th class="text-left">Desde</th>
                                <td class="text-right">{{res_desde|date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Hasta</th>
                                <td class="text-right"> {{res_hasta|date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Traspasos</th>
                                <td class="text-right">{{res_movs|number_format(0, '.', ',')}}</td>  
                            </tr>
                            <tr>
                                <th class="text-left">Nulos</th>
                                <td class="text-right">{{res_nulos|number_format(0, '.', ',')}}</td>  
                            </tr>
                            <tr>
                                <th class="text-left">Comision</th>
                                <td class="text-right">$ {{res_comision|number_format(0, '.', ',')}}</td>  
                            </tr>
                        </table>
                    {% endif %}
                </div>
        </div>  
    </div> 
    <div class="col-md-4">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">RESUMEN POR SERVICIO</div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed table-responsive">
                        <tr>
                            <th class="text-left">Servicio</th>
                            <th class="text-center">N</th>
                            <th class="text-center">Comision</th>
                        </tr>
                        {% set total = 0 %}
                        {% if res_servicio  is defined %}
                            
                            {% for mov in res_servicio %}
                                <tr>
                                    <td class="text-left">
                                        {{mov.servicio}}
                                    </td>
                                    <td class="text-right">
                                        {{mov.n|number_format(0, '.', ',')}}
                                    </td>
                                    <td class="text-right">
                                        {% set com = 1000 * mov.n %}
                                        {{com|number_format(0, '.', ',')}}
                                        {% set total = total + com %}
                                    </td>
                                </tr>
                            {% endfor %}    
                        {% endif %}
                        <tr>
                            <th>
                                TOTAL
                            </th>
                            <td></td>
                            <td class="text-right">$ {{total|number_format(0, '.', ',')}}</td>  
                        </tr>
                    </table>
                </div>
        </div>  
    </div> 
</div>
<!-- FIN TABLA RESUMEN -->          

<!-- TABLA RESUMEN POR SERVICIO -->   
<div class="row">
    <div class="col-md-1"></div>


    <div class="col-md-5"></div>
</div>
<!-- FIN TABLA RESUMEN -->  


<!-- TABLA DETALLE DE MOVIMIENTOS -->  
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="panel panel-default panel-info">
            <div class="panel-heading">DETALLE MOVIMIENTOS</div>   
                <table class="table table-bordered table-hover table-condensed table-responsive">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">FECHA</th>
                        <th class="text-center">PAX</th>
                        <th class="text-center">N</th>
                        <th class="text-center">SERVICIO</th>
                        <th class="text-center">ESTADO</th>
                        <th class="text-center">ACCION</th>
                    </tr>
                {% if movs  is defined %}
                    {% for mov in movs %}
                        {% if mov.nula == '0' %}
                            <tr>
                        {% else %}
                            <tr class="danger">
                        {% endif %}   
                        <td class="text-center">{{mov.id|number_format(0, '.', ',')}}</td>
                        <td class="text-center">{{mov.fecha_transfer|date("d/m/Y")}}</td>
                        <td class="text-left">{{mov.pax}}</td>
                        <td class="text-center">{{mov.n}}</td>
                        <td class="text-left">{{mov.servicio}}</td>
                        <td class="text-center">
                            {% if mov.nula == '1' %}
                                <i class="fa fa-remove" title="Nula"  style="color:red"></i>
                            {% else %}
                                <i class="fa fa-check" title="Valida"  style="color:green"></i>
                            {% endif %}                 
                        </td>
                        <td class="text-center">
                            <a href="{{ path('gestion_traspasos_ver', { 'id' : mov.id }) }}"  class="btn btn-info btn" role="button" title="Ver..."><span class="glyphicon glyphicon-zoom-in"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </table> 
        </div>
    </DIV>
                <div class="col-md-2"></div>
</div>
{% endblock%}