{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Caja{% endblock %}
{% block content %}

<!--  FORM BUSCAR -->
<div class="container form">
    <div class="panel panel-success form_ingreso">
        <div class="panel-heading">INFORME POR FECHA</div>
        <div class="panel-body">
            <form  class="form-inline" name="form" method="get" action="">
                {{ form_errors(form) }}
                <div class="form-group">
                    <label>Desde:</label> 
                    {{ form_errors(form.fecha_traspaso.left_date) }}
                    {{ form_widget(form.fecha_traspaso.left_date) }}
                </div>
                <div class="form-group">
                    <label>Hasta:</label> 
                    {{ form_errors(form.fecha_traspaso.right_date) }}
                    {{ form_widget(form.fecha_traspaso.right_date) }}
                </div>                
                <div class="form-group">
                {{ form_rest(form) }}
                <input type="submit" name="submit-filter" value="Buscar..." />
                </div>
        </div>
        </div>
    </div>

<!-- TABLA RESULTADO CONDULTA DOCUMENTOS -->  
<div class="panel panel-default panel-success">
    <div class="panel-heading">RESULTADO BUSQUEDA</div>   
        <table class="table table-bordered table-hover table-condensed table-responsive">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">FECHA</th>
            <th class="text-center">PAX</th>
            <th class="text-center">N</th>
            <th class="text-center">TOUR</th>
            <th class="text-center">COSTO</th>
            <th class="text-center">COBRADO</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">ACCION</th>
        </tr>
        {% if movs  is defined %}

        {% for mov in movs %}
        <tr>
            <td class="text-center">{{mov.id|number_format(0, '.', ',')}}</td>
            <td class="text-center">{{mov.fecha_traspaso|date("d/m/Y")}}</td>
            <td class="text-left">{{mov.pax}}</td>
            <td class="text-center">{{mov.n}}</td>
            <td class="text-left">{{mov.tour}}</td>
            <td class="text-right">{{mov.costo|number_format(0, '.', ',')}}</td>
            <td class="text-right">{{mov.cobrado|number_format(0, '.', ',')}}</td>
            <td class="text-center">
                {% if mov.pagado == '0' %}
                    <span class="label label-danger">Impago</span>    
                {% else %}
                    <span class="label label-success">Pagado</span>
                {% endif %} 
                {% if mov.nula == '1' %}
                    <span class="label label-danger">Nula</span>
                {% endif %}                 
            </td>
            
            <td class="text-center">
                <a href="{{ path('gestion_traspasos_ver', { 'id' : mov.id }) }}"  class="btn btn-info " role="button">Ver</a>
            </td>
        </tr>
        
        {% endfor %}
        {% endif %}
        </table> 
</div>
 
{% endblock%}