<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0"> 
        <title>Informe Pago Traspasos</title>
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/gestiontraspasos/css/bootstrap.min.css', absolute=true) }}"  type="text/css"  rel="stylesheet" />
            <link href="{{ asset('bundles/gestiontraspasos/css/styles.css') }}"  type="text/css"  rel="stylesheet" />
            <link href="{{ asset('bundles/gestiontraspasos/css/font-awesome.min.css', absolute=true) }}"  type="text/css"  rel="stylesheet" />
        {% endblock %}
        
        {% block javascripts %}   
                <script src="{{ asset('bundles/gestiontraspasos/js/bootstrap.min.js') }}"</script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% endblock %}

        
    </head>
    
    <body>

    <!-- CALCULO TABLA RESUMEN -->
    {% set res_movs = 0 %}
    {% set res_nulos = 0 %}
    {% set res_costo = 0 %}
    {% set res_impagos = 0 %}

    {% if movs  is defined %}
        {% for mov in movs %}
            {% if mov.nula == '1' %}
                {% set res_nulos=res_nulos + 1 %}
            {% else%}
                {% set res_costo=res_costo + mov.costo %} 
            {% endif %}

            {% set res_movs = res_movs + mov.n %}
        {% endfor%}
    {% endif %}
    <!-- FIN CALCULO-->

    <h3><p align="center">INFORME DE PAGO</p><h3>      
    
            
<!-- TABLA RESUMEN -->  
    <div style="width: 35%; ">
        <div class="panel panel-default panel-success">
            <div class="panel-heading"><h4>RESUMEN INFORME</h4></div>
                <div class="panel-body">
                    {% if res_operador  is defined %}
                        <table  class="table  table-hover table-condensed table-responsive">
                            <tr>
                                <th class="text-left">Operador</th>
                                <td class="text-center">{{res_operador}}</td>
                            </tr>
                            <tr> 
                                <th class="text-left">Desde</th>
                                <td class="text-right">{{res_desde|date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Hasta</th>
                                <td class="text-right"> {{res_hasta|date("d/m/Y")}}</td>
                            </tr>
                            <tr>
                                <th class="text-left">Traspasos</th>
                                <td class="text-right">{{res_movs|number_format(0, '.', ',')}}</td>  
                            </tr>
                            <tr>
                                <th class="text-left">Costo Total</th>
                                <td class="text-right">$ {{res_costo|number_format(0, '.', ',')}}</td>  
                            </tr>
                        </table>
                    {% endif %}
                </div>
        </div>
    </div>
         
    <div style="width: 35%; ">
        <div class="panel panel-default panel-success">
            <div class="panel-heading"><h4>RESUMEN POR SERVICIO</h4></div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed table-responsive">
                        <tr>
                            <th class="text-left">SERVICIO</th>
                            <th class="text-center">N</th>
                            <th class="text-center">COSTO</th>
                        </tr>
                        {% set total = 0 %}
                        {% if res_servicio  is defined %}
                            
                            {% for mov in res_servicio %}
                                <tr>
                                    <td class="text-left">
                                        {{mov.tour}}
                                    </td>
                                    <td class="text-right">
                                        {{mov.n|number_format(0, '.', ',')}}
                                    </td>
                                    <td class="text-right">
                                        {{mov.costo|number_format(0, '.', ',')}}
                                        {% set total = total + mov.costo %}
                                    </td>
                                </tr>
                            {% endfor %}    
                        {% endif %}
                        <tr>
                            <th>
                                Total
                            </th>
                            <td></td>
                            <td class="text-right">$ {{total|number_format(0, '.', ',')}}</td>  
                        </tr>
                    </table>
                </div>
        </div>  
    </div>
    <!-- BOTON PDF DE PAGO -->
    <div class="col-md-2">
        {% if movs  is defined %}

        {% endif %}
        
    </div>                 
                        
                        
</div>
<!-- FIN TABLA RESUMEN -->          

<!-- TABLA RESUMEN POR SERVICIO -->   
<div class="row">
    <div class="col-md-1"></div>


    <div class="col-md-5"></div>
</div>
<!-- FIN TABLA RESUMEN -->  


<!-- TABLA DETALLE DE MOVIMIENTOS -->  
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="panel panel-default panel-success">
            <div class="panel-heading"><h4>DETALLE MOVIMIENTOS</h4></div>   
                <table class="table table-bordered table-hover table-condensed table-responsive">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">FECHA</th>
                        <th class="text-center">PAX</th>
                        <th class="text-center">N</th>
                        <th class="text-center">SERVICIO</th>
                        <th class="text-center">COSTO</th>
                    </tr>
                {% if movs  is defined %}
                    {% for mov in movs %}
                        {% if mov.nula == '0' %}
                            <tr>
                        {% else %}
                            <tr class="danger">
                        {% endif %}
                        <td class="text-center">{{mov.id|number_format(0, '.', ',')}}</td>
                        <td class="text-center">{{mov.fecha_traspaso|date("d/m/Y")}}</td>
                        <td class="text-left">{{mov.pax}}</td>
                        <td class="text-center">{{mov.n}}</td>
                        <td class="text-left">{{mov.tour}}</td>
                        <td class="text-right">{{mov.costo|number_format(0, '.', ',')}}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </table> 
        </div>
    </DIV>
                <div class="col-md-2"></div>
</div>
    </body>
    <hr>
    <h6>
    &copy; 2016 - Hostal Desert SPA
    </h6>
</html>