{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}

{% block content %} 

<p></p>  
<div class="row">
    <div class="col-md-3"></div>
    <form class="form-default" name="form" method="post" action="">    
    <div class="col-md-6">
        <div class="panel panel-default panel-success">
        <div class="panel-heading">CONFIRMAR PAGO</div>  
                    <p></p>   
            <table style="width:100%">
                <tr>
                    <th class="text-center"><h4>TOTAL</h4></th>
                    <th class="text-center"><h4>FORMA</h4></th>
                    <th class="text-center"><h4>DOC</h4></th>
                </tr>
                <tr>
                    <td class="text-center"><label class="text-info"><h4>$ {{total|number_format(0, '.', ',')}}</h4></label></td>
                    <td class="text-center"><label class="text-info"><h4>{{forma_pago|upper}}</h4></label></td>
                    <td class="text-center"><label class="text-info"><h4>{{doc_pago|upper}}</h4></label></td>
                    <td  class="text-right" rowspan="2">
                        <a href="{{ app.request.headers.get('referer') }}"  class="btn btn-warning " role="button"><< ATRAS </a>    
                        <a href="{{ path('gestion_traspasos_tour_pagar2', { 'ids_str': ids_str, 'forma_pago': forma_pago, 'doc_pago': doc_pago } ) }}"  class="btn btn-info btn" role="button"  onclick="return confirm('are u sure?')><!--<i class="fa  fa-power-off pull-left"></i>-->
                            ACEPTAR
                        </a>
                    </td>
                </tr>   
            </table> 
            <p></p>            
        </div>
             
        <div class="panel panel-default panel-success">
            <div class="panel-heading">DETALLE</div>                      
            <table class="table table table-hover  table-responsive">
                <thead>
                    <tr>
                        <th  class="text-center">#Id</th>
                        <th  class="text-center">Fecha</th>
                        <th  class="text-center">Pax</th>
                        <th  class="text-center">Tour</th>
                        <th  class="text-center">Operador</th>
                        <th  class="text-center">Cobrado</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ids  is defined %}
                       {% for mov in ids %}
                            <tr>
                            <td class="text-right">
                                {{mov['id']}}                           
                            </td>
                            <td class="text-center">                    
                                {{mov.fecha_traspaso|date("d/m/Y")}}</td>
                            <td>
                                {{mov.pax}} x{{mov.n}}
                            </td>
                            <td>
                                {{mov.tour}}
                            </td>                                
                            <td>
                                {{mov.operador}}
                            </td>
                            <td class="text-right">
                                {{mov.cobrado|number_format(0, '.', ',')}}
                            </td>                         
                            </tr>
                        {% endfor%}
                           
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
    </form>
    <div class="col-md-3"></div>
</div>

{% endblock%}