{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Ingreso Tour{% endblock %}

{% block content %} 
    <div class="container form">
        <div class="panel panel-info form_ingreso">
            <div class="panel-heading">INGRESO TRANSFER</div>
            <div class="panel-body">
                <form class="form-default" name="form" method="post" action="">
                {{ form_errors(form) }}
                <div class="form-group">  
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td >
                                <label>Fecha:</label>
                                {{ form_errors(form.fecha_transfer) }} 
                                {{ form_widget(form.fecha_transfer) }}
                            </td>
                            <td >
                                <label>Vuelo:</label>
                                {{ form_errors(form.vuelo) }} 
                                {{ form_widget(form.vuelo) }}
                            </td> 
                            <td >
                                <label>Hora Vuelo:</label>
                                {{ form_errors(form.hora_vuelo) }} 
                                {{ form_widget(form.hora_vuelo) }}
                            </td>
                            <td >
                                <label>Hora PickUp:</label>
                                {{ form_errors(form.hora_transfer) }} 
                                {{ form_widget(form.hora_transfer) }}
                            </td>
                        </tr>
                    </table>
                </div>   
                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>
                                <label>Servicio:</label>
                                {{ form_errors(form.servicio_id) }} 
                                {{ form_widget(form.servicio_id) }}
                            </td>
                            <td>
                                <label>Nombre:</label>
                                {{ form_errors(form.pax) }} 
                                {{ form_widget(form.pax) }}
                            </td>
                            <td>
                                <label>Operador:</label>
                                {{ form_errors(form.op_id) }}
                                {{ form_widget(form.op_id) }}  
                            </td>
                       
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>                 
                                <label>Pasajeros:</label>
                                {{ form_errors(form.n) }}
                                {{ form_widget(form.n, {'required': true}) }}
                            </td>
                            <td>                 
                                <label>Hab:</label>
                                {{ form_errors(form.hab) }}
                                {{ form_widget(form.hab, {'required': true}) }}
                            </td>                            
                            
                        </tr>
                    </table>
                </div>                            
                <div class="form-group"> 
                    <label>Observaciones:</label>
                    {{ form_errors(form.obs) }}
                    {{ form_widget(form.obs, {'required': false}) }}  
                </div> 
                <div class="form-group" align="right"> 
                    {{ form_widget(form.Ingresar) }}  
                </div>        
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock%}