{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Ingreso Tour{% endblock %}

{% block content %} 
    <div class="container form">
        <div class="panel panel-success form_ingreso">
            <div class="panel-heading">EDITAR TOUR</div>
            <div class="panel-body">
                <form class="form-default" name="form" method="post" action="">
                {{ form_errors(form) }}
                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>
                                <label>Operador:</label>
                                <label>{{operador}}</label> 
                            </td>
                            <td>                 
                                <label>Tour:</label>
                                <label>{{tour}}</label> 
                            </td>                         
                        </tr>
                    </table>
                </div>
                <div class="form-group">  
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td >
                                <label>Fecha:</label>
                            {{ form_errors(form.fecha_traspaso) }} 
                                {{ form_widget(form.fecha_traspaso) }}
                            <td>
                                <label>Nombre:</label>
                                {{ form_errors(form.pax) }} 
                                {{ form_widget(form.pax) }}
                            </td>
                        </tr>
                    </table>
                </div>   

                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>                 
                                <label>Pasajeros:</label>
                                {{ form_errors(form.n) }}
                                {{ form_widget(form.n, {'required': true}) }}
                            </td>
                            <td>                 
                                <label>Hab:</label>
                                {{ form_errors(form.hab) }}
                                {{ form_widget(form.hab, {'required': true}) }}
                            </td>                            
                            <td>                 
                                <label>Cobrado:</label>
                                {{ form_errors(form.cobrado) }}
                                {{ form_widget(form.cobrado, {'required': true}) }}
                            </td>                            
                        </tr>
                    </table>
                </div>                            
                <div class="form-group"> 
                    <label>Observaciones:</label>
                    {{ form_errors(form.obs) }}
                    {{ form_widget(form.obs, {'required': false}) }}  
                </div> 
                <div class="form-group" align="right"> 
                    {{ form_widget(form.Guardar) }}  
                </div>        
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock%}