<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0"> 
        <title>TRASPASOS - Hostal Desert SPA</title>
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/gestiontraspasos/css/bootstrap.min.css') }}"  type="text/css"  rel="stylesheet" />
            <link href="{{ asset('bundles/gestiontraspasos/css/styles.css') }}"  type="text/css"  rel="stylesheet" />
            <link href="{{ asset('bundles/gestiontraspasos/css/font-awesome.min.css') }}"  type="text/css"  rel="stylesheet" />
        {% endblock %}
        
        <link rel="shortcut icon"  type="image/png"  href="{{ asset('bundles/gestiontraspasos/images/favicon.png') }}" />
        
        {% block javascripts %}   
                <script src="{{ asset('bundles/gestioncaja/js/jquery.min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/gestiontraspasos/js/dropdown.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/gestiontraspasos/js/bootstrap.min.js') }}"</script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% endblock %}
        
        <style>
            .form {
                width: 40%;

            .centrar-div {
                overflow: hidden;
                position: absolute;
                height: 500px;
                width: 400px;
                left: 50%;
                top: 50%;
                margin-top: -100px;
                margin-left: -150px;
            }
        </style> 
        
    </head>
    
    <body>
    
    {% block menu %}
                        
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('gestion_traspasos')}}">
                <img alt="Brand" src="{{ asset('bundles/gestiontraspasos/images/favicon-32x32.png') }}">
            </a>
        </div>
   
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> AGREGAR <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('gestion_traspasos_addtour')}}">TOUR...</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{{ path('gestion_traspasos_addtransfer')}}">TRANSFER...</a></li>
                      <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </li>
                <li><a href="{{ path('gestion_traspasos_pago_tours')}}"><span class="glyphicon glyphicon-usd"></span> PAGO </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-file"></span> INFORMES <span class="caret"></span></a>
                    <ul class="dropdown-menu">                   
                        <li><a href="{{ path('gestion_traspasos_informes_fecha-to')}}">LISTADO TOURS POR FECHA Y OPERADOR...</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('gestion_traspasos_trnf_informes_fecha_to')}}">LISTADO TRANSFERS POR FECHA...</a></li>
                    </ul>
                </li>
            </ul>
                <p class="navbar-text navbar-center text-info"><i class="fa fa-2x fa-phone"></i> LAYANA: <strong>9 9089 3109</strong> - MAXIM: <strong>9 6674 0648</strong></p>    
                <p class="navbar-text navbar-right text-info"><a href="#" class="navbar-link"><i class="fa fa-2x fa-user"></i> {{ app.user.username }}</a></p>
        </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
        
    {% endblock %}

        <div id=content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Hostal Desert
            {% endblock %}
    </body>
</html>