{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Ingreso Tour{% endblock %}

{% block content %} 
    <div class="container form">
        <div class="panel panel-success form_ingreso">
            <div class="panel-heading">PAGAR TOUR # {{ id }}</div>
            <div class="panel-body">
                <form class="form-default" name="form" method="post" action="">
                {{ form_errors(form) }}    
                <div class="form-group"> 
                    <label>Pax:</label> {{pax|upper}}<br>
                    <label>Tour:</label> {{tour|upper}}<br>
                    <label>TO:</label> {{to|upper}}<br>
                    <label>Valor:</label> {{cobrado|number_format(0, '.', ',')}}
                </div>                 
                <div class="form-group"> 
                    <label>Forma de Pago:</label>
                    {{ form_errors(form.formapago) }}
                    {{ form_widget(form.formapago, {'required': true}) }}  
                </div> 
                <div class="form-group"> 
                    <label># Doc:</label>
                    {{ form_errors(form.pago_doc) }}
                    {{ form_widget(form.pago_doc, {'required': true}) }}  
                </div> 
                <div class="form-group" align="right"> 
                    {{ form_widget(form.Pagar) }}  
                </div>        
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock%}