{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspasos{% endblock %}

{% block content %} 
    
<script type="text/javascript">

    function cambiaFormaPago(){
        var combo = document.getElementById('form_formapago');
        var caja = document.getElementById('numdoc');
        caja.focus
        if (combo.value == 'EFECTIVO'){
            caja.innerHTML="BOLETA:";
        }else{
            caja.innerHTML="TRANSBANK:";
        }
    }   
</script>

<p></p>  
<div class="row">
    <div class="col-md-2"></div>
    <form class="form-inline" name="form" method="post" action="">    
    <div class="col-md-7">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                <table width="100%" padding="20px">
                    <tr>
                        <td>
                            <b>TRASPASOS IMPAGOS</b> </br>
                            Seleccione aquellos que desea pagar...
                        </td>
                        <td>
                            <div class="form-group"> 
                                <label>Forma de Pago:</label>
                                {{ form_errors(form.formapago) }}
                                {{ form_widget(form.formapago, {'required': true}) }}  
                            </div> 
                        </td>
                        <td>
                            <div class="form-group"> 
                                <label id="numdoc">N° Doc:</label>
                                {{ form_errors(form.pago_doc) }}
                                {{ form_widget(form.pago_doc, {'required': true}) }}  
                            </div> 
                        </td>
                        <td align = "right">
                            <div class="form-group" align="right"> 
                                <input class="btn btn-info"  type="submit" name="submit" value="SIGUIENTE >>" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
                            
            <table class="table table table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th  class="text-center">#Id</th>
                        <th  class="text-center">Fecha</th>
                        <th  class="text-center">Pax</th>
                        <th  class="text-center">Hab</th>
                        <th  class="text-center">Tour</th>
                        <th  class="text-center">Operador</th>
                        <th  class="text-center">Cobrado</th>
                    </tr>
                </thead>

                <tbody>
                    {% if movs  is defined %}
                       {% for mov in movs %}
                            {% if mov.nula == '0' %}
                                <tr>
                            {% else %}
                                <tr class="danger">
                            {% endif %}  

                            <td class="text-right">
                                <div class="form-group"> 
                                <input type="checkbox" id="form_{{mov.id}}" name="form[{{mov.id}}]" value="{{mov.id}}"> 
                                    {{mov.id}}
                                </div>                               
                            </td>
                            <td class="text-center">                    
                                {{mov.fecha_traspaso|date("d/m/Y")}}</td>
                            <td>
                                {{mov.pax}} x{{mov.n}}
                            </td>
                            <td class="text-center">
                                {{mov.hab}}
                            </td>
                            <td>
                                {{mov.tour}}
                            </td>                                
                            <td>
                                {{mov.operador}}
                            </td>
                            <td class="text-right">
                                {{mov.cobrado|number_format(0, '.', ',')}}
                            </td>                         
                            </tr>
                        {% endfor%}
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
    </form>

    <div class="col-md-3"></div>
    
</div>

{% endblock%}