{% extends 'GestionTraspasosBundle:Default:traspasos.base.html.twig'%}

{% block title %}Traspaso{% endblock %}

{% block content %} 
    <div class="container form">
        {% if mov  is defined %}
            {% for m in mov %}
                <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>
                        <img alt="Brand" src="{{ asset('bundles/gestiontraspasos/images/favicon-32x32.png') }}">
                        TRASPASO # {{ m.id }}</h4>
                </div> <!-- Cierre div panel-heading-->              

                <div class="panel-body">
                    <h4>
                        SERVICIO:
                        {% if m.nula == 0 %}
                            <span class="label label-success">Activo</span>
                        {% else %}
                            <span class="label label-danger">Nulo</span>
                        {% endif %} 
                    </h4>
                    <table width="100%" class="table table table-hover  table-responsive">
                        <tr>
                            <th class="text-info">
                                Fecha:
                            </th>
                            <td>
                                {{ m.fecha_traspaso|date('d-m-Y') }}
                            </td>
                            <th class="text-info">
                                Pax:
                            </th>
                            <td>
                                {{ m.pax }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-info">
                                Operador:
                            </th>
                            <td>
                                {{ m.operador }}
                            </td>
                            <th class="text-info">
                                Tour: 
                            </th>
                            <td>
                                {{ m.tour }}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-info">
                                Hab:
                            </th>
                            <td>
                                {{ m.hab }}
                            </td>
                            <th class="text-info">
                                Cobrado:
                            </th>
                            <td>
                                $ {{m.cobrado|number_format(0, '.', ',')}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-info">
                                Obs:  
                            </th>
                            <td colspan="2">
                                {{ m.obs }}
                            </td>
                        </tr>
                    </table>  
             
                        
            
                    <hr>
                    <h4>PAGO:
                        {% if m.pagado == 1 %}
                            <span class="label label-success">Pagado</span>
                        {% else %}
                            <span class="label label-danger">Impago</span>
                        {% endif %} 
                    </h4>
                    <table  width="100%" class="table table table-hover  table-responsive">
                        <tr>
                            <th class="text-info">
                                Fecha:
                            </th>
                            <td>
                                {% if m.fecha_pago is null %}
                                {%else%}
                                    {{ m.fecha_pago|date('d-m-Y') }}
                                {% endif %}
                            </td>
                            <th class="text-info">
                                Hora:
                            </th>
                            <td>
                                {% if m.hora_pago is null %}
                                {%else%}
                                    {{ m.hora_pago|date('H:m:s') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-info">
                                Forma:
                            </th>
                            <td>
                                {{ m.formapago }}
                            </td>
                            <th class="text-info">
                                Doc: 
                            </th>
                            <td>
                                {{ m.pago_doc}}
                            </td>
                        </tr>
                        <tr>
                            <th class="text-info">
                                Usuario 
                            </th>
                            <td>
                                {{ m.user_pago }}
                            </td>
                            <td>
                              
                            </td>
                           <td>
                                
                            </td>
                        </tr>
                    </table> 
                </div> <!-- end body  -->    
                    <div class="panel-footer">
                        <table width="100%">
                            <tr>
                                <td>
                                     <label>Ingresado por: {{ m.usuario }} el {{ m.fecha_ingreso|date('d/M/Y') }} a las {{ m.hora_ingreso|date('H:i') }} hrs.</label>    
                                </td>
                                <td align="right">
                                    <!--
                                    <a href="{{ app.request.headers.get('referer') }}"  class="btn btn-info " role="button">PDF</a> 
                                    -->
                                        <a href="{{ app.request.headers.get('referer') }}"  class="btn btn-info " role="button">CERRAR</a> 
                                </td>

                        </table>
                    </div>

                </div> <!-- END PANEL -->    
            
            {% endfor %}    
        {% endif %}

         </div>
{% endblock%}