<html>
    <head>
        <meta charset="UTF-8" />
        <title>CAJA - Hostal Desert SPA</title>
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/gestioncaja/css/bootstrap.css') }}"  type="text/css"  rel="stylesheet" />
            <link href="{{ asset('bundles/gestioncaja/css/styles.css') }}"  type="text/css"  rel="stylesheet" />
            <link href="{{ asset('bundles/gestioncaja/css/font-awesome.min.css') }}"  type="text/css"  rel="stylesheet" />
        {% endblock %}
        
        <link rel="shortcut icon"  type="image/png"  href="{{ asset('bundles/gestioncaja/images/favicon.png') }}" />
        
        {% block javascripts %}   
            <script src="{{ asset('bundles/gestioncaja/js/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/gestioncaja/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/gestioncaja/js/dropdown.js') }}" type="text/javascript"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="{{ asset('bundles/gestioncaja/js/bootstrap.min.js') }}"></script>             
        {% endblock %}
        
        <style>
            .form {
                width: 40%;

            .centrar-div {
                overflow: hidden;
                position: absolute;
                height: 500px;
                width: 400px;
                left: 50%;
                top: 50%;
                margin-top: -100px;
                margin-left: -150px;
            }
        </style> 
    </head>
    
    <body>
    
    {% block menu %}
                        
    <nav class="navbar navbar-default">
        <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('gestion_caja')}}">
                <img alt="Brand" src="{{ asset('bundles/gestioncaja/images/favicon-32x32.png') }}">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AGREGAR <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('gestion_caja_ingreso')}}">INGRESO...</a></li>
                        <li><a href="{{ path('gestion_caja_egreso')}}">EGRESO...</a></li>
                        <!--
                        <li role="separator" class="divider"></li>
                        <li><a href="">PRESTAMO...</a></li>
                        -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFORMES <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('gestion_caja_informes_buscar_cajas')}}">BUSCAR MOVIMIENTOS...</a></li>
                    </ul>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONFIGURAR <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gestion_caja_config_egresos')}}">EGRESOS...</a></li>
                        </ul>
                    </li>                
                    <li>
                {% endif %}    
                    <p class="navbar-text navbar-right">Signed in as <strong><a href="#" class="navbar-link">{{ app.user.username }}</a></strong></p>
                </li>
            </ul>
            <!-- SALDOS -->
            
            {% if saldo_actual_usd is defined %}
                <p class="navbar-text navbar-right"><img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="24"> <strong>${{ saldo_actual_usd|number_format(0, '.', ',') }} ]</strong></p>    
            {% endif %} 
            
            {% if saldo_actual_clp is defined %}
                <p class="navbar-text navbar-right"><img src="{{ asset('bundles/gestioncaja/images/flags/Chile.png') }}" width="24"> <strong>${{ saldo_actual_clp|number_format(0, '.', ',') }}</strong></p>    
            {% endif %}    
            <p class="navbar-text navbar-right"><strong>[ SALDOS: </strong></p>
            
            <!-- VALOR MONEDAS -->    
            {% if valor_euro is defined %}
                <p class="navbar-text navbar-right"><img src="{{ asset('bundles/gestioncaja/images/flags/Eu.png') }}" width="24"> ${{ valor_euro }}</p>
            {% endif %}
            {% if valor_usd is defined %}
                <p class="navbar-text navbar-right"><img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="24"> ${{ valor_usd }}</p>
            {% endif %}
            
            <p class="navbar-text navbar-right text-success" text-success >
                {% if tours_por_cobrar is defined %}
                <strong>[ CC TOURS {{mes_actual}}: ${{ tours_por_cobrar|number_format(0, '.', ',')}}  ]</strong>
                {% endif %}
            </p>
            
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AYUDAS <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
            -->
        </li>
      </ul>
        </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
   
    {% endblock %}

        <div id=content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                <strong>&copy; Hostal Desert</strong>
            {% endblock %}
    </body>
</html>