{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <style type="text/css">
    IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      } 
    </style>
{% endblock %}


{% block content %} 

<ul class="nav nav-tabs">
  <li role="navigation"><a href="{{ path('gestion_caja_dash_peso')}}"><i class="fa fa-area-chart fa-2x"></i> DASHBOARD</a></li>
  <li role="navigation" class="active"><a href="{{ path('gestion_caja')}}"><i class="fa fa-calendar fa-2x"></i> MOVIMIENTOS</a></li>
</ul>
<p></p>    


{% if categorias is defined %}
    {% set i = 0 %}
    <div class="row">
        
    {% for cat in categorias %}
        <div class="col-md-3">
            <div class="panel panel-default panel-success">
                <div class="panel-heading">{{ cat.id }} - {{ cat.categoria|upper }}</div>
                <div class="panel-body">
                    <table class="table table-condensed  table-hover">
                        <tr>
                            <th class="text-center">#ID</th>
                            <th class="text-center">CONCEPTO</th>
                            <th class="text-center">ACCION</th>
                        </tr>
                        {% if conceptos is defined %}
                            {% for con in conceptos %}
                                {% if cat.id == con.cat_id %}
                                    <tr>                        
                                        <td class="text-center">{{ con.id }}</td>
                                        <td class="text-left">{{ con.concepto }}</td>
                                        <td class="text-center">
                                        <a href="{{ path('gestion_traspasos_editar', { 'id' : con.id }) }}"  class="btn btn-warning btn" role="button" title="Modificar..."><span class="glyphicon glyphicon-edit"></span></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        
        {% if i == '2' %}
            {% set i = 0 %}
            </div>
            <div class="row">
        {% else %}
            {% set i = i + 1 %}
            {% endif %}        

    {% endfor %}
    
    </div>
{% endif %}        

{% endblock%}