{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <style type="text/css">
    IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      } 
    </style>
{% endblock %}

{% block content %} 

    <p></p>
    {% if categorias is defined %}
    <div class="row">
    <div class="col-md-3">
        <div class="panel panel-default panel-danger">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td class="text-left" width="80%">
                            <strong>CATEGORIAS DE EGRESOS</strong>
                        </td>
                        <td class="text-right" width="20%" >    
                            <a class="btn btn-success" href="{{ path('gestion_caja_config_egresos_addcategoria') }}">
                            <i class="fa fa-plus-square fa-lg"></i> Agregar</a>
                        </td>
                    </tr>
                </table>
            </div>
                <div class="panel-body">
                    <table class="table table-condensed  table-hover">
                        <tr>
                            <th class="text-center">#ID</th>
                            <th class="text-center">CATEGORIA</th>
                            <th class="text-center">OPERACIONAL</th>
                            <th class="text-center">ACCION</th>
                        </tr>
                        {% for cat in categorias %}
                            <tr>
                                <td class="text-center"><strong>{{ cat.id }}</strong></td>
                                <td class="text-left">{{ cat.categoria }}</td>
                                <td class="text-center">
                                    {% if cat.operacional == '1' %}
                                        <i class="fa fa-check" title="Operacional"  style="color:green"></i>
                                    {% else %}
                                        <i class="fa fa-remove" title="No operacional"  style="color:red"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <table>
                                        <tr>
                                            <td class="text-center">
                                            <a href="{{ path('gestion_caja_config_egresos_concepto', { 'id' : cat.id }) }}"  class="btn btn-warning btn" role="button" title="Modificar..."><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            </td>
                                            <td class="text-center">
                                                {% if cat.conceptos == '0' %}
                                                    <a href="javascript:void(0)" onclick="if(confirm('Estas seguro de eliminar la categoria {{cat.categoria }} ?')){window.location='{{ path('gestion_caja_config_egresos_delcategoria', {'id': cat.id }) }}';}"  class="btn btn-danger btn" role="button" title="Eliminar..."><i class="fa fa-trash-o" aria-hidden="true"></i></a>        
                                                {% else%}
                                                <a href="#"  class="btn btn-default btn " role="button" title="Categoria contiene {{ cat.conceptos }} conceptos asociados " disabled="disabled"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
        
    {% endif %}
    <p></p>    
    <hr>
    <h4>CONCEPTOS</h4>

{% if categorias is defined %}
    {% set i = 0 %}
    <div class="row">
        {% for cat in categorias %}
            <div class="col-md-3">
                <div class="panel panel-default panel-danger">
                    <div class="panel-heading">
                        <table>
                            <tr>
                                <td class="text-left" width="80%">
                                    <strong>
                                        {{ cat.id }} - {{ cat.categoria|upper }}
                                    </strong>
                                </td>
                                <td class="text-right" width="20%" >    
                                    <a class="btn btn-success" href="{{ path('gestion_caja_config_egresos_addcategoria') }}">
                                    <i class="fa fa-plus-square fa-lg"></i> Agregar</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed  table-hover">
                            <tr>
                                <th class="text-center">#ID</th>
                                <th class="text-center">CONCEPTO</th>
                                <th class="text-center">ESTADO</th>
                                <th class="text-center">ACCION</th>
                            </tr>
                            {% if conceptos is defined %}
                                {% for con in conceptos %}
                                    {% if cat.id == con.cat_id %}
                                        {% if con.nulo == '0' %}
                                            <tr>
                                        {% else %}
                                            <tr class="danger">
                                        {% endif %}                           
                                            <td class="text-center"><strong>{{ con.id }}</strong></td>
                                            <td class="text-left">{{ con.concepto }}</td>
                                            <td class="text-center">
                                                {% if con.nulo == '0' %}
                                                    <i class="fa fa-check" title="Activa"  style="color:green"></i>
                                                {% else %}
                                                    <i class="fa fa-remove" title="Nula"  style="color:red"></i>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a href="{{ path('gestion_caja_config_egresos_concepto', { 'id' : con.id }) }}"  class="btn btn-warning btn" role="button" title="Modificar..."><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td>
                                                            {% if con.nulo == '0' %}
                                                                <a href="javascript:void(0)" onclick="if(confirm('Estas seguro de desabilitar el concepto {{con.concepto }} ?')){window.location='{{ path('gestion_caja_config_egresos_anularconcepto', {'id': con.id }) }}';}"  class="btn btn-danger btn" role="button" title="Desabilitar..."><i class="fa fa-remove" aria-hidden="true"></i></a>        
                                                            {% else %}
                                                                <a href="javascript:void(0)" onclick="if(confirm('Estas seguro de habilitar el concepto {{con.concepto }} ?')){window.location='{{ path('gestion_caja_config_egresos_desanularconcepto', {'id': con.id }) }}';}"  class="btn btn-success btn" role="button" title="Habilitar..."><i class="fa fa-check" aria-hidden="true"></i></a>        
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            {% if i == '2' %}
                {% set i = 0 %}
                </div>
                <div class="row">
            {% else %}
                {% set i = i + 1 %}
                {% endif %}        

        {% endfor %}
    </div>
{% endif %}        

{% endblock%}