{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Ingreso Tour{% endblock %}

{% block content %} 
    <div class="container form">
        <div class="panel panel-warning form_ingreso">
            <div class="panel-heading">
                <strong>
                <span class="glyphicon glyphicon-plus"></span>
                AGREGAR CATEGORIA DE EGRESO
                </strong>           
            </div>
            <div class="panel-body">
                <form class="form-default" name="form" method="post" action="">
                {{ form_errors(form) }}
                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>
                                <label>Categoria:</label>
                                {{ form_errors(form.categoria) }} 
                                {{ form_widget(form.categoria) }}
                                {{ form_errors(form.operacional) }} 
                                {{ form_widget(form.operacional) }}
                            </td>
                        </tr>
                    </table>
                </div>  
                <div class="form-group" align="right"> 
                    <a href="{{ path('gestion_caja_config_egresos') }}"  class="btn btn-default" role="button">Volver</a>
                    {{ form_widget(form.Guardar) }}  
                </div>        
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock%}