{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gestiontraspasos/js/themes/grid-light.js') }}"></script>
    <script src="{{ asset('bundles/gestiontraspasos/js/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/gestiontraspasos/js/modules/exporting.js') }}"></script> 
    <script src="{{ asset('bundles/gestiontraspasos/js/themes/grid-light.js') }}"></script>
    <script type="text/javascript">{{ chart(chart_1) }}</script>
    <script type="text/javascript">{{ chart(chart_2) }}</script>
{% endblock %}

{% block content %} 

<ul class="nav nav-tabs">
  <li role="navigation"  class="active"><a href="{{ path('gestion_caja_dash_peso')}}"><i class="fa fa-area-chart fa-2x"></i> DASHBOARD</a></li>
  <li role="navigation"><a href="{{ path('gestion_caja')}}"><i class="fa fa-calendar fa-2x"></i> MOVIMIENTOS</a></li>
</ul>

<ul class="nav nav-tabs">
  <li role="navigation"  class="active"><a href="{{ path('gestion_caja_dash_peso')}}"> <img src="{{ asset('bundles/gestioncaja/images/flags/Chile.png') }}" width="25" class="img-responsive imgcenter" alt="Responsive image"></a></li>
  <li role="navigation"><a href="{{ path('gestion_caja_dash_dolar')}}"> <img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="25" class="img-responsive imgcenter" alt="Responsive image"></a></li>
</ul>

<p></p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-danger">

            <div class="panel-body">
                <div id="chart_1" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
            </div>       
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-danger">
                <div class="panel-body">
                    <div id="chart_2" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
                </div>
        </div>
    </div>
    <!-- GRAFICO CIERRES
    <div class="col-md-2">
        <div class="panel panel-default panel-info">
                <div class="panel-body">
                    <div id="chart_3" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                </div>
        </div>
    </div>-->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-danger">
            <div class="panel-heading">
                    EGRESOS OPERACIONALES 7 DIAS...
            </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <!-- ENCABEZADOS -->
                        <tr>
                            <th>CATEGORIA</th>
                            {% if res_eg_15_dias is defined %}
                               {% for mov in res_eg_15_dias %}
                                   <th class="text-center">{{ mov.dia|date("d/M")}}</th>
                               {% endfor %}
                            {% endif %}  
                        </tr>
                        <!-- DATA -->
                        {% set tot00 = 0 %}
                        {% set tot01 = 0 %}
                        {% set tot02 = 0 %}
                        {% set tot03 = 0 %}
                        {% set tot04 = 0 %}
                        {% set tot05 = 0 %}
                        {% set tot06 = 0 %}
                        {% set tot07 = 0 %}
                        {% set tot08 = 0 %}
                        {% set tot09 = 0 %}

                        {% if res_eg_15 is defined %}
                            {% set i = 0 %}
                            {% for mov in res_eg_15 %}
                            <tr>
                                <td class="text-left">{{ mov.categoria}}</td>
                                <!-- 1ra COL -->
                                <td class="text-right">
                                    {% if mov.valor00 > 0 %}
                                        <a href="#{{ "myModal0#{i}" }}" data-toggle="modal">
                                            {{ mov.valor00|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor00|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal0#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header modal-header-success">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-left"> {{ mov.detalle00[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot00=tot00 + mov.valor00 %}
                                </td>
                                
                                <!-- 2da COL -->
                                <td class="text-right">
                                    {% if mov.valor01 > 0 %}
                                        <a href="#{{ "myModal1#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor01|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor01|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal1#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle01[i] | raw }} </p>
                                          <!--<p class="text-warning">
                                            <small>If you don't save, your changes will be lost.</small>
                                          </p>
                                          -->
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot01=tot01 + mov.valor01 %}
                                </td>                                
                                
                                <!-- 3ra COL -->
                                <td class="text-right">
                                    {% if mov.valor02 > 0 %}
                                        <a href="#{{ "myModal2#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor02|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor02|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal2#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle02[i] | raw }} </p>
                                          <!--<p class="text-warning">
                                            <small>If you don't save, your changes will be lost.</small>
                                          </p>
                                          -->
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot02=tot02 + mov.valor02 %}
                                </td>  
                                <!-- 4ta COL -->
                                <td class="text-right">
                                    {% if mov.valor03 > 0 %}
                                        <a href="#{{ "myModal3#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor03|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor03|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal3#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle03[i] | raw }} </p>
                                          <!--<p class="text-warning">
                                            <small>If you don't save, your changes will be lost.</small>
                                          </p>
                                          -->
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot03=tot03 + mov.valor03 %}
                                </td>                                  
                                <!-- 5ta COL -->
                                <td class="text-right">
                                    {% if mov.valor04 > 0 %}
                                        <a href="#{{ "myModal4#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor04|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor04|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal4#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle04[i] | raw }} </p>
                                          <!--<p class="text-warning">
                                            <small>If you don't save, your changes will be lost.</small>
                                          </p>
                                          -->
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot04=tot04 + mov.valor04 %}
                                </td>   
                                <!-- 6ta COL -->
                                <td class="text-right">
                                    {% if mov.valor05 > 0 %}
                                        <a href="#{{ "myModal5#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor05|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor05|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal5#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle05[i] | raw }} </p>
                                          <!--<p class="text-warning">
                                            <small>If you don't save, your changes will be lost.</small>
                                          </p>
                                          -->
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot05=tot05 + mov.valor05 %}
                                </td>                                   
                                <!-- 7ma COL -->
                                <td class="text-right">
                                    {% if mov.valor06 > 0 %}
                                        <a href="#{{ "myModal6#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor06|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor06|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal6#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle06[i] | raw }} </p>
                                          <!--<p class="text-warning">
                                            <small>If you don't save, your changes will be lost.</small>
                                          </p>
                                          -->
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot06=tot06 + mov.valor06 %}
                                </td>                                     
                            </tr>
                            {% set i = i + 1 %}
                            {% endfor %}
                        {% endif %} 
                        <tr>
                            <th>TOTAL</th>
                            <th class="text-right">{{ tot00|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot01|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot02|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot03|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot04|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot05|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot06|number_format(0, '.', ',')}}</th>
                        </tr>
                        </table>
                </div>
            </div>
            <div class="panel panel-default panel-danger">
                <div class="panel-heading">
                    EGRESOS NO OPERACIONALES 7 DIAS...
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <!-- ENCABEZADOS -->
                        <tr>
                            <th>CATEGORIA</th>
                            {% if arr_res_dia_nop_dias is defined %}
                               {% for mov in arr_res_dia_nop_dias %}
                                   <th class="text-center">{{ mov.dia|date("d/M")}}</th>
                               {% endfor %}
                            {% endif %}  
                        </tr>
                        <!-- DATA -->
                        {% set tot00 = 0 %}
                        {% set tot01 = 0 %}
                        {% set tot02 = 0 %}
                        {% set tot03 = 0 %}
                        {% set tot04 = 0 %}
                        {% set tot05 = 0 %}
                        {% set tot06 = 0 %}
                        {% set tot07 = 0 %}
                        {% set tot08 = 0 %}
                        {% set tot09 = 0 %}

                        {% if arr_res_dia_nop is defined %}
                            {% set i = 0 %}
                            {% for mov in arr_res_dia_nop %}
                            <tr>
                                <td class="text-left">{{ mov.categoria}}</td>
                                <!-- 1ra COL -->
                                <td class="text-right">
                                    {% if mov.valor00 > 0 %}
                                        <a href="#{{ "myModal20#{i}" }}" data-toggle="modal">
                                            {{ mov.valor00|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor00|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal20#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header modal-header-success">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-left"> {{ mov.detalle00[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot00=tot00 + mov.valor00 %}
                                </td>
                                
                                <!-- 2da COL -->
                                <td class="text-right">
                                    {% if mov.valor01 > 0 %}
                                        <a href="#{{ "myModal21#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor01|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor01|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal21#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle01[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot01=tot01 + mov.valor01 %}
                                </td>                                
                                
                                <!-- 3ra COL -->
                                <td class="text-right">
                                    {% if mov.valor02 > 0 %}
                                        <a href="#{{ "myModal22#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor02|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor02|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal22#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle02[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot02=tot02 + mov.valor02 %}
                                </td>  
                                <!-- 4ta COL -->
                                <td class="text-right">
                                    {% if mov.valor03 > 0 %}
                                        <a href="#{{ "myModal23#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor03|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor03|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal23#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle03[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot03=tot03 + mov.valor03 %}
                                </td>                                  
                                <!-- 5ta COL -->
                                <td class="text-right">
                                    {% if mov.valor04 > 0 %}
                                        <a href="#{{ "myModal24#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor04|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor04|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal24#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle04[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot04=tot04 + mov.valor04 %}
                                </td>   
                                <!-- 6ta COL -->
                                <td class="text-right">
                                    {% if mov.valor05 > 0 %}
                                        <a href="#{{ "myModal25#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor05|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor05|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal25#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle05[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot05=tot05 + mov.valor05 %}
                                </td>                                   
                                <!-- 7ma COL -->
                                <td class="text-right">
                                    {% if mov.valor06 > 0 %}
                                        <a href="#{{ "myModal26#{i}" }}" data-toggle="modal" >
                                            {{ mov.valor06|number_format(0, '.', ',')}}
                                        </a>
                                    {% else %}
                                            {{ mov.valor06|number_format(0, '.', ',')}}
                                    {% endif %}
                                    <div id="{{ "myModal26#{i}" }}" class="modal fade">
                                    <!-- DIALOGO DETALLE MOV-->
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                          <h4 class="modal-title text-left">Detalle Egresos</h4>
                                        </div>
                                        <div class="modal-body">
                                          <p class="text-left"> {{ mov.detalle06[i] | raw }} </p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                    {% set tot06=tot06 + mov.valor06 %}
                                </td>                                     
                            </tr>
                            {% set i = i + 1 %}
                            {% endfor %}
                        {% endif %} 
                        <tr>
                            <th>TOTAL</th>
                            <th class="text-right">{{ tot00|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot01|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot02|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot03|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot04|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot05|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot06|number_format(0, '.', ',')}}</th>
                        </tr>
                        </table>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-danger">
            <div class="panel-heading">
               <!--<span class="glyphicon glyphicon-bookmark"></span>-->
                    EGRESOS OPERACIONALES 6 MESES...</div>
                <div class="panel-body">
                    <table class="table table-condensed  table-hover">
                        <!-- ENCABEZADOS -->
                        <tr>
                            <th>CATEGORIA</th>
                            {% if arr_res_mes_op_fechas is defined %}
                               {% for mov in arr_res_mes_op_fechas %}
                                   <th class="text-center">{{ mov.mes}}</th>
                               {% endfor %}
                            {% endif %}  
                        </tr>
                        <!-- DATA -->
                        {% set tot00 = 0 %}
                        {% set tot01 = 0 %}
                        {% set tot02 = 0 %}
                        {% set tot03 = 0 %}
                        {% set tot04 = 0 %}
                        {% set tot05 = 0 %}
                        {% set tot06 = 0 %}
                        
                        {% if arr_res_mes_op is defined %}
                            {% for mov in arr_res_mes_op %}
                            <tr>
                                <td class="text-left">{{ mov.categoria}}</td>
                                <td class="text-right">{{ mov.valor00|number_format(0, '.', ',')}}</td>{% set tot00=tot00 + mov.valor00 %}
                                
                                <td class="text-right">{{ mov.valor01|number_format(0, '.', ',')}}</td>{% set tot01=tot01 + mov.valor01 %}
                                <td class="text-right">{{ mov.valor02|number_format(0, '.', ',')}}</td>{% set tot02=tot02 + mov.valor02 %}
                                <td class="text-right">{{ mov.valor03|number_format(0, '.', ',')}}</td>{% set tot03=tot03 + mov.valor03 %}
                                <td class="text-right">{{ mov.valor04|number_format(0, '.', ',')}}</td>{% set tot04=tot04 + mov.valor04 %}
                                <td class="text-right">{{ mov.valor05|number_format(0, '.', ',')}}</td>{% set tot05=tot05 + mov.valor05 %}
                                                            </tr>
                            {% endfor %}
                        {% endif %} 
                        <tr>
                            <th>TOTAL</th>
                            <th class="text-right">{{ tot00|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot01|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot02|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot03|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot04|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot05|number_format(0, '.', ',')}}</th>
                       </tr>
                        </table>
                </div>
            </div>
        <div class="panel panel-default panel-danger">
            <div class="panel-heading">
               <!--<span class="glyphicon glyphicon-bookmark"></span>-->
                    EGRESOS NO OPERACIONALES 6 MESES...</div>
                <div class="panel-body">
                    <table class="table table-condensed  table-hover">
                        <!-- ENCABEZADOS -->
                        <tr>
                            <th>CATEGORIA</th>
                            {% if arr_res_mes_nop_fechas is defined %}
                               {% for mov in arr_res_mes_nop_fechas %}
                                   <th class="text-center">{{ mov.mes}}</th>
                               {% endfor %}
                            {% endif %}  
                        </tr>
                        <!-- DATA -->
                        {% set tot00 = 0 %}
                        {% set tot01 = 0 %}
                        {% set tot02 = 0 %}
                        {% set tot03 = 0 %}
                        {% set tot04 = 0 %}
                        {% set tot05 = 0 %}
                        {% set tot06 = 0 %}
                        
                        {% if arr_res_mes_nop is defined %}
                            {% for mov in arr_res_mes_nop %}
                            <tr>
                                <td class="text-left">{{ mov.categoria}}</td>
                                <td class="text-right">{{ mov.valor00|number_format(0, '.', ',')}}</td>{% set tot00=tot00 + mov.valor00 %}
                                
                                <td class="text-right">{{ mov.valor01|number_format(0, '.', ',')}}</td>{% set tot01=tot01 + mov.valor01 %}
                                <td class="text-right">{{ mov.valor02|number_format(0, '.', ',')}}</td>{% set tot02=tot02 + mov.valor02 %}
                                <td class="text-right">{{ mov.valor03|number_format(0, '.', ',')}}</td>{% set tot03=tot03 + mov.valor03 %}
                                <td class="text-right">{{ mov.valor04|number_format(0, '.', ',')}}</td>{% set tot04=tot04 + mov.valor04 %}
                                <td class="text-right">{{ mov.valor05|number_format(0, '.', ',')}}</td>{% set tot05=tot05 + mov.valor05 %}
                                                            </tr>
                            {% endfor %}
                        {% endif %} 
                        <tr>
                            <th>TOTAL</th>
                            <th class="text-right">{{ tot00|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot01|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot02|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot03|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot04|number_format(0, '.', ',')}}</th>
                            <th class="text-right">{{ tot05|number_format(0, '.', ',')}}</th>
                       </tr>
                        </table>
                </div>
            </div>
    </div> 
             
</div>
   
{% endblock%}