{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}
{% block content %} 
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <div class="centrar-div">
        <div class="alert alert-danger text-center" role="alert" >
            <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
            <br><br>
            {{ msg|upper }}
            <br><br>
            <a href="{{ path('gestion_caja') }}">VOLVER</a>
            <!--
            <p align="center">
            <a href=""  class="btn btn-danger" role="button">VOLVER</a>
            </p>
            -->
        </div>
    </div>

{% endblock%}
