{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <style type="text/css">
    IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      } 
    </style>
    
{% endblock %}


{% block content %} 

<ul class="nav nav-tabs">
  <li role="navigation"><a href="{{ path('gestion_caja_dash_peso')}}"><i class="fa fa-area-chart fa-2x"></i> DASHBOARD</a></li>
  <li role="navigation" class="active"><a href="{{ path('gestion_caja')}}"><i class="fa fa-calendar fa-2x"></i> MOVIMIENTOS</a></li>
</ul>
<p></p>    
    
    
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">ULTIMOS MOVIMIENTOS</div>   
            
            <table class="table table-bordered table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        {% if movs  is defined %}
                            
                        {% set p_ingresos = 0 %}
                        {% set d_ingresos = 0 %}
                        {% set p_egresos = 0  %}
                        {% set d_egresos = 0  %}
                        
                        {% for mov in movs %}
                            <!-- INGRESOS -->
                            {% if mov.tipo == '1' and mov.nula == '0' %}
                                <!-- PESOS -->
                                {% if mov.moneda == 'CLP' %}
                                    {% set p_ingresos = p_ingresos + mov.monto %}
                                {% endif %}    
                                <!-- DOLAR -->
                                {% if mov.moneda == 'USD' %}
                                    {% set d_ingresos = d_ingresos + mov.monto %}
                                {% endif %} 
                            <!-- EGRESOS -->
                            {% elseif  mov.tipo == '2' and mov.nula == '0' %}
                                <!-- PESOS -->
                                {% if mov.moneda == 'CLP' %}
                                    {% set p_egresos = p_egresos + mov.monto %}
                                {% endif %}    
                                <!-- DOLAR -->
                                {% if mov.moneda == 'USD' %}
                                    {% set d_egresos = d_egresos + mov.monto %}
                                {% endif %} 
                            {% endif %}
                        {% endfor%}
                        {% endif %}
                        <th  class="text-center">#Id</th>
                        <th  class="text-center">Fecha</th>
                        
                        <th  class="text-center">Nombre</th>
                        <th  class="text-center">Concepto</th>
                        <th  class="text-center">Doc</th>
                        <th  class="text-center">Hab</th>
                        <th  class="text-center">Pax</th>
                        <th  class="text-center">Moneda</th>
                        <th  class="text-center">Ingreso</th>
                        <th  class="text-center">Egreso</th>
                        <th  class="text-center">Obs</th>
                        <th  class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% if movs  is defined %}

                       {% for mov in movs %}
                            {% if mov.nula == '0' %}
                                <tr>
                            {% else %}
                                <tr class="danger">
                            {% endif %}    
                                <td class="text-right">
                                    {{mov.id}}
                                </td>
                                <td class="text-center">                    
                                    {{mov.fecha|date("d/m/Y")}} - {{ mov.hora|date('H:i:s') }}</td>
                                <td>
                                    {{mov.nombre}}
                                </td>
                                <td>
                                    {{mov.concepto}}
                                </td>
                                                                <td>
                                    {{mov.doc}}
                                </td>
                                                                <td>
                                    {{mov.hab}}
                                </td>
                                                                <td>
                                    {{mov.pax}}
                                </td>
                                <td class="text-center">
                                    {% if mov.idmoneda=='1' %}
                                        <img src="{{ asset('bundles/gestioncaja/images/flags/Chile.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image">
                                    {% else %}
                                        <img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image">
                                    {% endif %}
                                </td>

                                {% if mov.tipo == '1' %} 
                                    <td class="text-right">
                                        <p class="text-info text-right">
                                            <strong>
                                            {{mov.monto|number_format(0, '.', ',')}}
                                            </strong>
                                        </p>
                                    </td>
                                    <td></td>  
                                {% else %} 
                                    <td></td>
                                    <td class="text-right">
                                        <p class="text-danger text-right">
                                            <strong>
                                            {{mov.monto|number_format(0, '.', ',')}}
                                            </strong>
                                        </p>
                                    </td>

                                {% endif %}     
                                <td>
                                    {{mov.obs}}
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('gestion_caja_ver', { 'id' : mov.id }) }}"  class="btn btn-info " role="button"><i class="fa fa-search-plus" title="Ver..."></i></a>
                                    {% if mov.nula == '0' %}
                                        <a href="{{ path('gestion_caja_anular', { 'id' : mov.id }) }}"  class="btn btn-danger " role="button"><i class="fa fa-remove" title="Anular..."></i></a>
                                    {% else %}
                                        <a href="{{ path('gestion_caja_habilitar', { 'id' : mov.id }) }}"  class="btn btn-success " role="button"><i class="fa fa-check" title="Habilitar..."></i></a>
                                    {% endif %}    
                                </td>
                            </tr>
                        {% endfor%}
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">ULTIMO CIERRE: <strong>{{ cierre|date('d-m-Y') }}</strong></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Item</th>
                            <th><img src="{{ asset('bundles/gestioncaja/images/flags/Chile.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image"></th>
                            <th><img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image"></th>
                        </tr>
                        <tr>
                            <td>Saldo Anterior:</td>
                            <td>
                                <p class="text-right">
                                   <strong>{{cierre_saldo_peso|number_format(0, '.', ',')}}</strong>
                                </p>    
                            </td>
                            <td>
                                <p class="text-right">
                                    <strong>{{cierre_saldo_dolar|number_format(0, '.', ',')}}</strong>
                                </p>    
                            </td>
                        </tr>
                        <tr>
                            <td>Ingresos (+):</td>
                            <td>
                                <p class="text-primary text-right">
                                    <strong>{{p_ingresos|number_format(0, '.', ',')}}</strong>
                                </p>
                            </td>
                            <td>
                                <p class="text-primary text-right">
                                    <strong>{{d_ingresos|number_format(0, '.', ',')}}</strong>
                                </p>
                            </td>   
                        </tr>            
                        <tr>
                            <td>Egresos (-):</td>
                            <td>
                                <p class="text-danger text-right">
                                    <strong>{{p_egresos|number_format(0, '.', ',')}}</strong>
                                </p>
                            </td>
                            <td>
                                <p class="text-danger text-right">
                                    <strong>{{d_egresos|number_format(0, '.', ',')}}</strong>
                                </p>
                            </td>
                        </tr>            
                        <tr>
                            <td>Saldo Actual:</td>
                            {% set p_saldo_actual = cierre_saldo_peso + p_ingresos - p_egresos %}
                            {% set d_saldo_actual = cierre_saldo_dolar + d_ingresos - d_egresos %}
                            <td>
                                <p class="text-right">  
                                    <strong>{{p_saldo_actual|number_format(0, '.', ',')}}</strong>
                                </p>
                            </td>
                            <td>
                                <p class="text-right">  
                                    <strong>{{d_saldo_actual|number_format(0, '.', ',')}}</strong>
                                </p>
                            </td>
                        </tr>            
                    </table>
                </div>
                <p align="center">
                    <a href="{{ path('gestion_caja_cerrar', { 'p_saldo_actual': p_saldo_actual , 'd_saldo_actual': d_saldo_actual }) }}"  class="btn btn-danger btn-lg" role="button"><i class="fa fa-3x fa-power-off pull-left"></i>
                        CERRAR DIA <br>
                    {{ "now"|date("d/m/Y") }}
                    </a>
                </p>
            </div>
             
            <div class="panel panel-default panel-info">
            <div class="panel-heading">HISTORICO CIERRES</div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Fecha/Hora</th>
                            <th>Usuario</th>
                            <th><img src="{{ asset('bundles/gestioncaja/images/flags/Chile.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image"></th>
                            <th><img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image"></th>
                        </tr>
                        {% for c in cierres %}
                        <tr>
                            <td>{{ c.fecha|date('d-m-Y') }} / {{ c.hora|date('H:i') }}</td>
                            <td>
                                <p class="text-center">
                                    {{c.usuario}}
                                </p>    
                            </td>
                            <td>
                                <p class="text-right">
                                    {{c.saldo_clp|number_format(0, '.', ',')}}
                                </p>    
                            </td>
                            <td>
                                <p class="text-right">
                                    {{c.saldo_usd|number_format(0, '.', ',')}}
                                </p>    
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>                
            </div>
    </div>                           
    </div>
</div>

{% endblock%}