{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <style type="text/css">
    IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      } 
    </style>
    
{% endblock %}

{% block content %}

<!--  FORM BUSCAR -->
<div class="container form">
    <div class="panel panel-success form_buscar">
        <div class="panel-heading">BUSCAR MOVIMIENTOS</div>
        <div class="panel-body">
            <form  class="form-default" name="form" method="get" action="">
                {{ form_errors(form) }}
                <div class="form-group">
                    <table width="100%"  cellspacing="50"  cellpadding="50">
                        <tr>
                            <td width="50%">
                                <label>Desde:</label>
                                {{ form_errors(form.fecha.left_date) }}
                                {{ form_widget(form.fecha.left_date) }}
                            </td>  
                            <td width="50%">
                                <label>Hasta:</label> 
                                {{ form_errors(form.fecha.right_date) }}
                                {{ form_widget(form.fecha.right_date) }}
                            </td>
                        </tr>
                    </table>
                </div>  
                <div class="form-group">
                    <table  width="100%"  cellspacing="50"  cellpadding="50">
                        <tr>
                            <td width="50%">
                                <label>Concepto:</label> 
                                {{ form_errors(form.cajaconcepto_id) }}
                                {{ form_widget(form.cajaconcepto_id, {'required': false}) }}
                            </td>
                            <td width="50%">
                                <label>Moneda:</label> 
                                {{ form_errors(form.moneda_id) }}
                                {{ form_widget(form.moneda_id, {'required': false}) }}
                            </td>                            
                        </tr>
                    </table>
                    <div class="form-group" align="right">
                        {{ form_rest(form) }}
                        <input class="btn btn-default" type="submit" name="submit-filter" value="Buscar..." />
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- TABLA RESULTADO CONDULTA DOCUMENTOS -->  
<div class="panel panel-default panel-success">
    <div class="panel-heading">RESULTADO BUSQUEDA</div>   
        <table class="table table-bordered table-hover table-condensed table-responsive">
            <tr>
            <th class="text-center">ID</th>
            <th class="text-center">FECHA</th>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">CONCEPTO</th>
            <th class="text-center">DOC</th>
            <th class="text-center">PAX</th>
            <th class="text-center">MONEDA</th>
            <th class="text-center">INGRESO</th>
            <th class="text-center">EGRESO</th>
            <th class="text-center">OBS</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">ACCION</th>
        </tr>
        {% if movs  is defined %}

        {% set ncajas = 0 %}
        {% set ingresos = 0 %}
        {% set egresos = 0 %}

        {% for mov in movs %}
            {% if mov.nula == '0' %}
                    <tr>
            {% else %}
                    <tr class="danger">
            {% endif %}
            
            <td class="text-center">{{mov.id|number_format(0, '.', ',')}}</td>
            <td class="text-center">{{mov.fecha|date("d/m/Y")}}</td>
            <td class="text-left">{{mov.nombre}}</td>
            <td class="text-left">{{mov.concepto}}</td>
            <td class="text-left">{{mov.doc}}</td>
            <td class="text-left">{{mov.pax}}</td>
            <td>
                {% if mov.moneda_id=='1' %}
                    <img src="{{ asset('bundles/gestioncaja/images/flags/Chile.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image">
                {% else %}
                    <img src="{{ asset('bundles/gestioncaja/images/flags/Usa.png') }}" width="20" class="img-responsive imgcenter" alt="Responsive image">
                {% endif %}
            </td>    
            {% set ncajas = ncajas + 1 %}
            {% if mov.tipo == '1' %}
                <td class="uk-text-small" align="right">
                    <p class="text-primary text-right">
                    {{mov.monto|number_format(0, '.', ',')}}
                    </p>
                </td>
                <td class="uk-text-small" align="right">
                    0
                </td>
                {% set ingresos = ingresos + mov.monto %}
            {% else %}
                <td class="uk-text-small" align="right">
                   0
                </td>
                <td class="uk-text-small" align="right">
                    <p class="text-danger text-right">
                    {{mov.monto|number_format(0, '.', ',')}}
                    </p>
                </td>
                {% set egresos = egresos + mov.monto %}
            {% endif %}
            <td class="text-left">{{mov.obs}}</td>
            {% if mov.nula == '0' %}
                <td class="text-center"><i class="fa fa-check" title="Activa"  style="color:green"></i></td>
                <td class="text-center">
                   <a href="{{ path('gestion_caja_ver', { 'id' : mov.id }) }}"  class="btn btn-info " role="button"><i class="fa fa-search-plus" title="Ver..."></i></a>
                </td>
            {% else %}
                <td class="text-center"><i class="fa fa-remove" title="Nula"  style="color:red"></i></td>
                <td></td>
            {% endif %}
        </tr>
        
        {% endfor %}
        {% endif %}
        </table> 
</div>
 
{% endblock%}