{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}

{% block content %} 
    <div class="container form">
        <div class="panel panel-info form_ingreso">
            <div class="panel-heading">INGRESO CAJA</div>
            <div class="panel-body">
                <form class="form-default" name="form" method="post" action="">
                {{ form_errors(form) }}
                <div class="form-group">  
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td >
                                <label>Fecha:</label>
                                {{ form_errors(form.fecha) }} 
                                {{ form_widget(form.fecha) }}
                            </td>
                            <td>
                                <label>Nombre:</label>
                                {{ form_errors(form.nombre) }} 
                                {{ form_widget(form.nombre) }}
                            </td>
                        </tr>
                    </table>
                </div>   
                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>
                    <label>Concepto:</label>
                    {{ form_errors(form.cajaconcepto_id) }}
                    {{ form_widget(form.cajaconcepto_id) }}  
                            </td>
                            <td>                 
                                <label>Doc:</label>
                                {{ form_errors(form.doc) }}
                                {{ form_widget(form.doc, {'required': false}) }}
                            </td>
                            </tr>
                    </table>
                </div>
                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>
                                <label>Habitacion:</label>
                                {{ form_errors(form.hab) }}
                                {{ form_widget(form.hab, {'required': false}) }}
                            </td>
                            <td>                 
                                <label>Pax:</label>
                                {{ form_errors(form.pax) }}
                                {{ form_widget(form.pax, {'required': false}) }}
                            </td>
                            </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table width="100%" cellspacing="50"  cellpadding="50">
                        <tr>
                            <td>
                                <label>Moneda:</label>
                                {{ form_errors(form.moneda_id) }}
                                {{ form_widget(form.moneda_id) }}
                            </td>
                            <td>                 
                                <label>Monto:</label>
                                {{ form_errors(form.monto) }}
                                {{ form_widget(form.monto) }}
                            </td>
                            </tr>
                    </table>
                </div>
                <div class="form-group"> 
                    <label>Observaciones:</label>
                    {{ form_errors(form.obs) }}
                    {{ form_widget(form.obs, {'required': false}) }}  
                </div> 
                <div class="form-group" align="right"> 
                    {{ form_widget(form.Ingresar) }}  
                </div>        
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock%}