{% extends 'GestionCajaBundle:Default:caja.base.html.twig'%}

{% block title %}Caja{% endblock %}

{% block content %} 
    <div class="container form">
        {% if mov  is defined %}
            {% for m in mov %}
                {% if m.tipo == 1 %}
                    <div class="panel panel-info">
                    <div class="panel-heading">
                        INGRESO CAJA # {{ m.id }}
                {% else %}
                    <div class="panel panel-danger">
                    <div class="panel-heading">
                        EGRESO CAJA # {{ m.id }}
                {% endif %}
                {% if m.nula == 0 %}
                    <span class="label label-success">Activa</span>
                {% else %}
                    <span class="label label-danger">Nula</span>
                {% endif %}                
                </div> <!-- Cierre div panel-heading-->              

                <div class="panel-body">
                   
                    
                    <table width="100%">
                        <tr>
                            <td>
                                Fecha: 
                            </td>
                            <td>
                                {{ m.fecha|date('d-m-Y') }}
                            </td>
                            <td>
                                Nombre:
                            </td>
                            <td>
                                {{ m.nombre }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Concepto:
                            </td>
                            <td>
                                {{ m.concepto }}
                            </td>
                            <td>
                                Doc: 
                            </td>
                            <td>
                                {{ m.doc }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hab:
                            </td>
                            <td>
                                {{ m.hab }}
                            </td>
                            <td>
                                Pax:
                            </td>
                           <td>
                                {{ m.pax }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Moneda:
                            </td>
                            <td>
                                {{ m.moneda }}
                            </td>
                            <td>
                                Monto:
                            </td>
                            <td align="right">
                                {{m.monto|number_format(0, '.', ',')}}
                            </td>
                        </tr>
                    </table>  
                    <div>
                    Obs: {{ m.obs }}
                    </div>  
                </div> <!-- end body  -->    
                    <div class="panel-footer">
                        <table width="100%">
                            <tr>
                                <td>
                                     <label>Ingresado por: {{ m.usuario }} a las {{ m.hora|date('H:m:s') }} hrs.</label>    
                                </td>
                                <td align="right">
                                    <a href="{{ app.request.headers.get('referer') }}"  class="btn btn-info " role="button">PDF</a> 
                                    {% if m.tipo == 1 %}
                                        <a href="{{ app.request.headers.get('referer') }}"  class="btn btn-info " role="button">CERRAR</a> 
                                    {% else %}
                                        <a href="{{ app.request.headers.get('referer') }}"  class="btn btn-danger " role="button">CERRAR</a>
                                    {% endif %}
                                </td>

                        </table>
                    </div>

                </div> <!-- END PANEL -->    
            
            {% endfor %}    
        {% endif %}

         </div>
{% endblock%}