{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="loginModal" class="uk-modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Acceso</h1>
      </div>
      <div class="modal-body">


<form class="form col-md-12 center-block"
    action="{{ path("fos_user_security_check") }}" 
    method="post">
    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <!--<label for="username">{{ 'security.login.username'|trans }}::::</label>-->
    <div class="form-group">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                class="form-control input-lg" placeholder="Usuario"/>
    </div>    
    <!--<label for="password">{{ 'security.login.password'|trans }}</label>-->
    <div class="form-group">
        <input type="password" id="password" name="_password" required="required"
               class="form-control input-lg" placeholder="Password"/>
    </div>
    
    <!--<input type="checkbox" id="remember_me" name="_remember_me" value="on" />-->
    
    <!--<label for="remember_me">{{ 'security.login.remember_me'|trans }}........</label>-->
    <div class="form-group">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
               class="btn btn-primary btn-lg btn-block"/>
    </div>
</form>
    

      </div>

      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>	
      </div>

  </div>
  </div>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>

    
{% endblock fos_user_content %}
