<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Acceso</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/gestioncaja/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/gestioncaja/css/styles.css') }}" rel="stylesheet" />
        {% endblock %}
        
        {% block javascripts %}         
                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js }}"></script>
                <script src="{{ asset('bundles/gestioncaja/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
